    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Administration" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{"Users" | localize}}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button class="btn btn-primary"><i class="fa fa-plus"></i> {{"AddNew" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <form class="kt-form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input 
                                            autoFocus class="form-control m-input"
                                            [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>               
                </div>
            </div>
        </div>
    </div>




 
<p-virtualScroller [value]="lazyCars" [itemSize]="150" [rows]="100" [cache]="false" [lazy]="true"
    (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalLazyCarsLength">
    <ng-template let-car pTemplate="item" let-i="index">
    <!-- <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
                <div class="col-xl-3">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">

                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="#" class="btn btn-icon" data-toggle="dropdown">
                                    <i class="flaticon-more-1 kt-font-brand"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="kt-nav">
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                                <span class="kt-nav__link-text">Edit </span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-send"></i>
                                                <span class="kt-nav__link-text">premission</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget kt-widget--user-profile-2">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <img class="kt-widget__img kt-hidden-" src="./assets/media/users/100_5.jpg"
                                            alt="image">
                                        <div
                                            class="kt-widget__pic kt-widget__pic--brand kt-font-brand kt-font-boldest kt-hidden">
                                            JM
                                        </div>
                                    </div>

                                    <div class="kt-widget__info">
                                        <a href="#" class="kt-widget__username">
                                            hammad
                                        </a>

                                        <span class="kt-widget__desc">
                                            Atr Direcrtor
                                        </span>
                                    </div>
                                </div>

                                <div class="kt-widget__body">
                                    <div class="kt-widget__item">
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">User Name:</span>
                                            <span class="kt-widget__data">{{car?.year}}</span>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Email:</span>
                                            <a href="#" class="kt-widget__data">{{car?.year}}</a>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Creation Date:</span>
                                            <a href="#" class="kt-widget__data">{{car?.year}}</a>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Status:</span>
                                            <span class="kt-widget__data">
                                                <div class="col-3">
                                                    <span
                                                        class="kt-switch kt-switch--outline kt-switch--icon kt-switch--primary">
                                                        <label>
                                                            <input type="checkbox" checked="checked">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div> -->
</ng-template>
    <ng-template let-car pTemplate="loadingItem">
        <!-- <div class="ui-g car-item empty-car-item">
            <div class="ui-g-12 ui-md-2">
                <div class="empty-car-item-index"></div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <div class="empty-car-item-image"></div>
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                </div>
            </div>
        </div> -->
    </ng-template>
</p-virtualScroller>




















   


