/* / You can add global styles to this file, and also import other style files / */
body,html{
    overflow: auto !important;
    color: #B5B7C7 !important;
    word-wrap: break-word;
}
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* / Sweet alert / */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px!important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header, .swal2-popup.swal2-toast .swal2-title, .swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;  
    margin: 0 !important;
}
.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important; 
}

/* /  global styles for tables / */
body .ui-table .ui-table-thead > tr,
body .ui-table .ui-table-tbody > tr{
    border-bottom: 1px solid #f1f2fc !important;
}
body .ui-table .ui-table-tbody > tr td,
body .ui-table .ui-table-thead > tr th{
    /* / padding: 10px 30px !important; / */
    vertical-align: middle;
}
body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-tbody > tr:nth-child(even){
    background-color: transparent;
}

.kt-user-card-v2 .kt-user-card-v2__pic .kt-badge{
    margin-right: 10px;
}
/* /  global styles ends here / */
@keyframes glowing {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.primeng-paging-container .paginator-counter .ui-paginator{
    background-color: transparent !important;
    border: 1px solid transparent !important;
}
.primeng-paging-container .paginator-counter .ui-inputtext{
    border: 1px solid transparent;
    align-items: center;
}
.primeng-paging-container .paginator-counter .ui-corner-right{
    margin-top: 2px;
    margin-right: 2px;
}
.primeng-paging-container .paginator-counter .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
    border-radius: 30px;
}
.primeng-paging-container .paginator-counter .ui-dropdown-label {
    border:1px solid  #a6a6a6; 
}
.task-table-inner th{
    background-color: transparent !important; 
    /* / font-weight: 500 !important;   / */
    color:#575962 !important;
    /* / width:20%; / */
}
.task-table-inner th:focus{ 
    color:#8397ff!important;
    border:1px solid transparent !important;
    outline:none !important;
}
/* .task-table-inner td{ 
    width: 20%!important;
} */
.task-table-inner .task-task-name:focus{ 
    color:#121213!important;
    border:1px solid transparent !important;
    outline:none !important;
}
.task-table-inner .task-task-name:active{ 
    color:#575962!important;
    border:1px solid transparent !important;
    outline:none !important;
}
.btn.btn-primary::after {
    top: 0;
    right: -20px;
}
.search-field{
    margin-bottom: 0 !important;
}
/* .kt-portlet__body >.row > .col-md-5 .col-md-4:last-child{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */
.kt-portlet__body >.row > .col-md-5 .col-md-4 a.action-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 4px;
    padding: 5px 9px;
    border-radius: 2px;
    background-color: #F7F8FA;
}
.kt-portlet__body >.row > .col-md-5 .row {
    margin-bottom: 2rem;
}
.show-comments {
    height: 180px;
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
    word-break: break-all;
    padding: 0 20px 0 5px;
}
.create-comments {
    height: 130px;
    overflow: auto;
    word-break: break-all;
}
.comments-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
.show-comments-parent {
    position: relative;
}
/* .show-more-btn {
    position: absolute;
    bottom: 0px;
    background: #568cde;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 0 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 11px;
    cursor: pointer;
} */
/* .show-more-btn {
    position: absolute;
    bottom: 0px;
    background: #568cde;
    left: calc(50% - 35px);
    color: #fff;
    padding: 0 5px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 11px;
    cursor: pointer;
} */


/*colors*/
h1,
h2,
h3,
h4,
h5,
h6{
    color: #0F2757 !important;;
}
.bg-grey{
   background-color: #606060;
}
.bg-lightgrey{
    background-color: #F1F2FC !important;
}
.text-bluegrey{
    color: #575962 !important;
}
.text-darkgrey{
    color: #3F4047 !important;
}
.text-navyblue{
    color: #0F2757 !important;
}
.text-sky{
    color: #3F94FD !important;
}
.comments-header .kt-badge{
    width:35px !important;
    height: 35px !important;
}
.custom-d-btn {
    position: relative;
}
.custom-d-btn::after {
    right: 20px !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
}
.select2-search option:last-child {
    background-color: #5866dd;
    color: #fff;
}
.comments-text h5 {
    font-size: 14px;
    color: #575962;
}
.comments-text h6 {
    font-size: 12px;
    color: #575962;
}
.bg-color{
    color: #606060 !important;

}
select {
    background-color: #F1F2FC !important;
    color: #606060 !important;
    border: 0 !important;
}
form.task-report-form{
    position: relative;
}
form.task-report-form::after{
    /* content: "▼";  */
    content: ">";
    position: absolute;
    top: 3px;
    right: 10px;
    transform: rotate(90deg);
    color: #fff;
}
.form-group label {
    color: #606060;
}



.date-cell {
    width: 160px;
}
.cat-cell {
    width: 160px;
}
.status-cell {
    width: 160px;
}
.assignee-cell {
    width: 300px;
}
.category-name {
    max-width: 85px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}

.table-repeater {
    border: 0 !important;
}
.toggle-btn-cell{
    position: relative;
    width:16px;
}
.toggle-btn-cell .taggle-btn{
    position: absolute;
    top: 14px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #0abb87;
    display: none;
    cursor: pointer;

}
.taggle-btn::before {
    content: "";
    width: 5px;
    height: 1px;
    position: absolute;
    top: 7px;
    left: 3px;
    background: #0abb87;
    transform: rotate(45deg);
}
.taggle-btn::after {
    content: "";
    width: 5px;
    height: 1px;
    position: absolute;
    top: 7px;
    left: 6px;
    transform: rotate(-45deg);
    background: #0abb87;
}
.table-repeater th,
.table-repeater td {
    border: 0 !important;
}
@media only screen and (max-width:40em){
    .table-box .task-table .ui-table-responsive .ui-table-thead>tr>th{
        display: table-cell !important;
    }
    .table-box .task-table .ui-table-responsive .ui-table-thead>tr>th.assignee-cell,
    .table-box .task-table .ui-table-responsive .ui-table-thead>tr>th.status-cell {
        display: none !important;
    }

}
.input-group-prepend select {
    border-radius: 0 4px 4px 0;
}
