<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Create A Task
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="javascript: void(0);" (click)="backToTaskList()">
                            <i class="la la-arrow-left"></i>
                            Back
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <app-categorie-drop-down></app-categorie-drop-down>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Closing Month</label>
                                        <div class="month-calender">
                                            <form class="input-arrow">
                                                <input [(ngModel)]="checklist.closingMonth" autocomplete="off"
                                                    class="form-control" name="date" bsDatepicker
                                                    [bsConfig]="{dateInputFormat: 'MMM/YYYY'}"
                                                    (onShown)="onOpenCalendar($event)">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email"> Task Name</label>
                                        <input type="email" class="form-control  bsDatepicker"
                                            [(ngModel)]="checklist.taskName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Assignee</label>
                                        <app-user-list-component></app-user-list-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" *ngIf="commantBox">
                                        <label>Comments</label>
                                        <div (click)="commentClick()">
                                            <div class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic">
                                                    <div class="kt-badge kt-badge--xl kt-badge--warning">
                                                        {{userSignInName}}</div>
                                                </div>
                                                <div innerHTML="{{checklist.commentBody}}" class="form-control create-comments"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" *ngIf="commantModal">
                                        <label>Comments</label>
                                        <p-editor [(ngModel)]="checklist.commentBody" name="HtmlEditorInput"
                                            [style]="{'height':'150px'}">
                                        </p-editor>
                                        <button class="btn btn-brand" (click)="onComment()">Comment</button>
                                        <button class="btn btn-brand" (click)="onCancelComment()">Cancel</button>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="bg-color">Instruction</label>
                                    <div class="form-group">
                                        <p-editor [(ngModel)]="checklist.instruction" name="HtmlEditorInput"
                                            [style]="{'height':'150px'}"></p-editor>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Frequency</label>
                                        <select class="bg-white border form-control input-medium"
                                            (change)="onChange($event.target.value)" [(ngModel)]="checklist.frequency">
                                            <option [ngValue]="undefined" hidden>Criteria</option>
                                            <option value="5">None</option>
                                            <option value="1">Monthly</option>
                                            <option value="2">Quarterly</option>
                                            <option value="3">Annually</option>
                                            <option value="4">XNumberOfMonths</option>


                                        </select>
                                    </div>
                                    <div class="form-group ">
                                        <label>Due on</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label class="kt-radio kt-radio--single kt-radio--success">
                                                        <input type="radio" name="radioButton" [(checked)]="isChecked">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </div>
                                            <select class="bg-white border border-left-0 form-control input-medium" (change)="onValueChange()"
                                                [(ngModel)]="checklist.dueOn">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>

                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>No of Months</label>
                                        <input type="text" name="noOfMonths" [disabled]="enableValue == false"
                                            class="form-control bsDatepicker" [(ngModel)]="checklist.noOfMonths">
                                    </div>
                                    <div class="form-group">
                                        <label>&nbsp;&nbsp;</label>
                                        <select class="bg-white border form-control input-medium"
                                            (change)="onDaysClick($event.target.value)"
                                            [(ngModel)]="checklist.dayBeforeAfter">
                                            <option value=true>Days Before</option>
                                            <option value=false>Days After</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ends on</label>
                                        <form class="input-arrow">
                                            <input [(ngModel)]="checklist.endsOn" [disabled]="endOnIsEnabled == false" autocomplete="off"
                                                class="form-control" name="date" bsDatepicker
                                                [bsConfig]="{dateInputFormat: 'MM/YYYY'}"
                                                (onShown)="onOpenCalendar($event)">
                                        </form>
                                    </div>
                                    <div class="kt-radio-list eom-radio">
                                        <span></span>
                                        <label class="kt-radio kt-radio--brand" name="radio5">
                                            <input type="radio" value="true" name="radioButton"
                                                (change)="handleRadioChange()" [(ngModel)]="checklist.endOfMonth">End of
                                            month
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span style="padding-left: 10px;">{{SelectionMsg}}</span>
                            </div>

                            <div class="drag_drop_box">
                                <label class="bg-color">Attachments</label>
                                <ng-uppy [config]="settings" (uploadResult)="fileUploadedResponse($event)"></ng-uppy>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__head">
                    </div>
                    <div class="">
                        <button class="btn btn-brand" (click)="onCreateTask()">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>