<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid add-task">
    <div class="row">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <img src="./assets/media/ClosingCheckList/clipboard.svg" alt="clipboard">
                        <span class="headSpace"> Checklist</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span *ngIf="createOrDuplicate" class="kt-subheader__desc">
                       {{"CreateTask" | localize}}
                    </span>
                    <span *ngIf="!createOrDuplicate" class="kt-subheader__desc">
                        {{"DuplicateTask" | localize}}
                     </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3  *ngIf="createOrDuplicate" class="kt-portlet__head-title">
                            {{"CreateTask" | localize}}
                        </h3>
                        <h3  *ngIf="!createOrDuplicate" class="kt-portlet__head-title">
                            {{"DuplicateTask" | localize}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="javascript: void(0);" (click)="redirectToTaskList()">
                            <i class="la la-arrow-left"></i>
                            Back
                        </a>
                    </div>
                </div>
                <form #taskForm="ngForm" id="taskform" >
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <app-categorie-drop-down category = {{categoryTitle}}></app-categorie-drop-down>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">{{"ClosingMonth" | localize}}</label>
                                        <div class="month-calender">
                                            <form class="input-arrow">
                                                <input [(ngModel)]="checklist.closingMonth" (ngModelChange)="loadDaysByMonth($event)" required="required"
                                                autocomplete="off" class="form-control" name="date" bsDatepicker 
                                                    placeholder="Select Month" class="form-control" name="date"
                                                    bsDatepicker
                                                    [bsConfig]="{dateInputFormat: 'MMMM YYYY'}"
                                                    (onShown)="onOpenCalendar($event)">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="taskName"> {{"Task Name" | localize}} </label>
                                        <input type="text" class="form-control" required  name="taskName" id="taskName" placeholder="Enter Task Name"
                                        autocomplete="off" [(ngModel)]="checklist.taskName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{"Assignee" | localize}}</label>
                                        <app-user-list-component comingChangeReguest="" userId={{checklist.assigneeId}}>
                                        </app-user-list-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" *ngIf="commantBox">
                                        <label>{{"Comments" | localize}}</label>
                                        <div (click)="commentClick()">
                                            <div class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic">
                                                    <div *ngIf="UserProfilePicture" class="kt-badge kt-badge--xl">
                                                        <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                            alt="Pic" [src]="UserProfilePicture">
                                                    </div>
    
                                                    <div *ngIf="!UserProfilePicture"
                                                        class="kt-badge kt-badge--xl kt-badge--primary">
                                                        {{userName | firstLetterOfWords}}
                                                    </div>
                                                </div>
                                                <div innerHTML="{{checklist.commentBody}}"
                                                    class="form-control create-comments"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" *ngIf="commantModal">
                                        <label>{{"Comments" | localize}}</label>
                                        <p-editor [(ngModel)]="checklist.commentBody"
                                            (keydown.space)="$event.preventDefault();" required name="HtmlEditorInput"
                                            [style]="{'height':'150px'}">
                                        </p-editor>
                                        <div class="btnMargin" >
                                        <button class="btn btn-brand" (click)="onComment()">{{"Comment" | localize}}</button>
                                        <button class="btn btn-brand" (click)="onCancelComment()">{{"Cancel" | localize}}</button>
                                    </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="bg-color">{{"Instruction" | localize}}</label>
                                    <div class="form-group">
                                        <p-editor [(ngModel)]="checklist.instruction" name="HtmlEditorInput"
                                            [style]="{'height':'150px'}"></p-editor>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{"Frequency" | localize}}</label>
                                        <select class="bg-white border form-control input-medium" required id="frequency" name="frequency"
                                            (change)="onChange($event.target.value)" [(ngModel)]="checklist.frequency">
                                            <option [ngValue]="undefined" hidden>{{"Criteria" | localize}}</option>
                                            <option value="5">{{"None" | localize}}</option>
                                            <option value="1">{{"Monthly" | localize}}</option>
                                            <option value="2">{{"Quarterly" | localize}}</option>
                                            <option value="3">{{"Annually" | localize}}</option>
                                            <option value="4">{{"EveryXNumberOfMonths" | localize}} </option>
                                        </select>
                                    </div>
                                    <div class="form-group dueOn">
                                        <label>{{"Dueon" | localize}}</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label class="kt-radio kt-radio--single kt-radio--success">
                                                        <input type="radio" name="radioButton" id="radioButton" (change)="onDayChange()" [(checked)]="isChecked">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </div>
                                            <select class="border border-default bg-white form-control input-medium"
                                                (change)="onDayChange()" [(ngModel)]="checklist.dueOn" id="dueOn" name="dueOn">
                                                <option *ngFor="let item of days;" [value]="item.value">
                                                    {{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row"  *ngIf="SelectionMsg != null">
                                        <div class="col-12">
                                            <span>{{SelectionMsg}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span></span>
                                        </div>
                                    </div>
                                 
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{"NoofMonths" | localize}}</label>
                                        <input type="text" name="noOfMonths" [disabled]="enableValue == false"
                                            placeholder="Enter Number" class="form-control bsDatepicker" autocomplete="off"
                                            [(ngModel)]="checklist.noOfMonths">
                                    </div>
                                    <div class="form-group">
                                        <label>&nbsp;&nbsp;</label>
                                        <select class="bg-white border form-control input-medium"
                                            (change)="onDaysClick($event.target.value)" [(ngModel)]="daysBeforeAfter" name="daysBeforeAfter">
                                            <option value=null disabled hidden>None</option>
                                            <option value=true>{{"DaysBefore" | localize}}</option>
                                            <option value=false>{{"DaysAfter" | localize}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{"Endson" | localize}}</label>
                                        <form class="input-arrow">
                                            <input [disabled]="checklist.frequency==5" [(ngModel)]="checklist.endsOn" required="required"
                                                autocomplete="off" class="form-control" name="date" bsDatepicker
                                                placeholder="Month"
                                                [bsConfig]="{dateInputFormat: 'MMMM YYYY'}"
                                                (onShown)="onOpenCalendar($event)">
                                        </form>
                                    </div>
                                    <div class="kt-radio-list eom-radio">
                                        <span></span>
                                        <label class="kt-radio kt-radio--brand" name="radio5">
                                            <input type="radio" value="true" name="endOfMonth" placeholder="Month"
                                                (change)="handleRadioChange()" [(ngModel)]="checklist.endOfMonth">{{"Endofmonth" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="drag_drop_box">
                                <label class="bg-color">{{"Attachments" | localize}}</label>
                                <ng-uppy [config]="settings" (uploadResult)="fileUploadedResponse($event)"></ng-uppy>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__head">
                    </div>
                    <div class="btn-create">
                        <button class="btn btn-brand" (click)="onCreateTask()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="taskForm.form.invalid">
                            <i class="fa fa-save"></i>
                            <span>{{"Create" | localize}}</span>
                        </button>
                    </div>
                   
                </div>
            </form>
            </div>
        </div>
    </div>