.drop_down_class {
    width: 100%;
    position: relative;
}
.drop_down_class::after{
    right: -55px !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 114% !important;

}
.drop_down_arrow {
    margin-left: 135px;
}
