<div class="kt-datatable__cell ">

    <button class="btn btn-primary dropdown-toggle drop_down_class" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{StatusList}}
    </button>
    <div class="dropdown-menu drop_down_class"  aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="ChangeStatus(1)" >{{"NotStarted" | localize}}</a>
        <a class="dropdown-item" (click)="ChangeStatus(2)" >{{"InProcess" | localize}}</a>
        <a class="dropdown-item" (click)="ChangeStatus(3)" >{{"OnHold" | localize}}</a>
        <a class="dropdown-item" (click)="ChangeStatus(4)" >{{"Completed" | localize}}</a>
    </div>
</div>




