.eom-radio {
    margin-top: 60px;
}
.form-group{
    position: relative;
}
.igx-calender{
    position: absolute;
    z-index: 1;
    top: 80px;
    box-shadow: 0 0 20px #ccc;
    width: 180px;
    height: 170px;
    overflow: auto;
}
.duplicate_box {
    margin-left: 75px;
    margin-top: 50px
}
.commentViewBox {
    margin-left: 50px;
}
.commentmainView {
    border: 1px solid #e2e5ec;
    margin-top: 20px;
    max-height: 300px;
    overflow-x: hidden
}
.giveCommentView {
    margin-top: 20px;
}
.drop_down_class {
    width: 175px;
}
.drop_down_arrow {
    margin-left: 135px;
}
::ng-deep .uppy-Dashboard-inner {
    min-height:220px !important;
    height: 220px !important;
}
.category-selector button {
    width: 100%;
    text-align: left;
    padding: 9px 15px 8px 15px;
    height: calc(1.5em + 1.3rem + 2px);

}
.category-selector button::after {
    content: "▼";
    position: absolute;
    font-size: 11px;
    color: #313030;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
