<div *ngIf="active" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Edit Task
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a (click)="redirectToTaskDetails()">
                            <i class="la la-arrow-left"></i>
                            Back
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group category-selector">
                                        <label>Category</label>
                                        <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{categoryName}}</button>
                                        <div class="dropdown-menu" [(ngModel)]="categoryName" name="categoryName">
                                            <a class="dropdown-item" *ngFor="let item of categoriesList"
                                                (click)="categoryClick(item.value,item.name)">
                                                {{item.name}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" (click)="routeToAddNewCategory()">+AddNew</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Closing Month</label>
                                        <div class="form-group">
                                            <form class="">
                                                <input disabled [(ngModel)]="closingMonthValue" class="form-control" name="date"
                                                    bsDatepicker [bsConfig]="{dateInputFormat: 'MMMM YYYY'}"
                                                    (onShown)="onOpenCalendar($event)">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TaskName"> Task Name</label>
                                        <input type="text" class="form-control  bsDatepicker"
                                            [(ngModel)]="getTaskForEdit.taskName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Assignee</label>
                                        <app-user-list-component disable = "true" comingChangeReguest="" userId={{assigneeId}}>
                                        </app-user-list-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Comment
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-toggle="kt-tooltip"
                                                title="Tooltip title" data-placement="right" data-skin="dark"
                                                data-container="body">Action</a>
                                        </div>
                                    </div>
                                    <div class="commentmainView show-comments">
                                        <div class="kt-widget3 ">
                                            <div *ngFor="let i of comment" class="kt-widget3__item ">
                                                <div class="comments-header kt-widget3__header">
                                                    <div class="kt-widget3__user-img">
                                                        <div class="kt-user-card-v2__pic">
                                                            <div class="kt-badge kt-badge--xl kt-badge--warning">
                                                                {{i.NameAvatar}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget3__info">
                                                        <a class="kt-widget3__username">
                                                            {{i.userName}}
                                                        </a><br>
                                                    </div>
                                                    <span class="kt-widget3__status kt-font-info">
                                                        {{i.daysCount}}
                                                    </span>
                                                </div>
                                                <div class="kt-widget3__body comments-body show-comments-inner">
                                                    <p class="kt-widget3__text commentViewBox" innerHTML="{{i.body}}">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group giveCommentView" *ngIf="!commantBox">
                                        <label>Comments</label>
                                        <div (click)="commentClick()">
                                            <div class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic">
                                                    <div class="kt-user-card-v2__pic">
                                                        <div *ngIf="UserProfilePicture" class="kt-badge kt-badge--xl">
                                                            <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                                alt="Pic" [src]="UserProfilePicture">
                                                        </div>
        
                                                        <div *ngIf="!UserProfilePicture"
                                                            class="kt-badge kt-badge--xl kt-badge--primary">
                                                            {{userSignInName | firstLetterOfWords}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div innerHTML="{{checklist.commentBody}}"
                                                    class="form-control create-comments"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group " *ngIf="commantBox">
                                        <label>Comments</label>
                                        <p-editor [(ngModel)]="checklist.commentBody" name="HtmlEditorInput"
                                            [style]="{'height':'150px'}">
                                        </p-editor>
                                        <div class="btnMargin" >
                                        <button class="btn btn-brand" (click)="onComment()">Comment</button>
                                        <button class="btn btn-brand" (click)="onCancelComment()">Cancel</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Instruction</label>
                                    <div class="form-group">
                                        <p-editor [(ngModel)]="getTaskForEdit.instruction" name="HtmlEditorInput"
                                            [style]="{'height':'150px'}"></p-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Frequency</label>
                                        <select class=" border border-default bg-white form-control input-medium"
                                            (change)="OnFrequencyChange($event.target.value)"
                                            [(ngModel)]="getTaskForEdit.frequencyId">
                                            <option value="5">None</option>
                                            <option value="1">Monthly</option>
                                            <option value="2">Quarterly</option>
                                            <option value="3">Annually</option>
                                            <option value="4">XNumberOfMonths</option>
                                        </select>
                                    </div>
                                    <div class="form-group DueOn">
                                        <label>Due on</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <label class="kt-radio kt-radio--single kt-radio--success">
                                                        <input type="radio" [(checked)]="isChecked" name="endOn">
                                                        <span></span>
                                                    </label>
                                                </span>
                                                <select class="border border-default bg-white form-control input-medium"
                                                    (change)="onDayChange()" [(ngModel)]="getTaskForEdit.dueOn">
                                                    <option *ngFor="let item of days;" [value]="item.value">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <label class="daysBefore">{{daysBeforeAfter}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div class="kt-datatable__cell ">
                                            <button
                                                class="text-left custom-d-btn btn btn-primary dropdown-toggle drop_down_class"
                                                type="button" id="dropdownMenu2" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                {{getTaskForEdit.status}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>No of Months</label>
                                        <input type="text" name="noOfMonths" [disabled]="enableValue == false"
                                            class="form-control bsDatepicker" [(ngModel)]="getTaskForEdit.noOfMonths"
                                            (onShown)="onOpenCalendar($event)">
                                    </div>
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <select class="border border-default bg-white form-control input-medium"
                                            (change)="onDaysClick($event.target.value)"
                                            [(ngModel)]="getTaskForEdit.dayBeforeAfter">
                                            <option value=true>Days Before</option>
                                            <option value=false>Days After</option>
                                        </select>
                                    </div>
                                    <div class="duplicate_box">
                                        <button type="button" class="btn btn-outline-primary"
                                            (click)="duplicateTask()">Duplicate</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ends on</label>
                                        <div class="form-group">
                                            <form class="">
                                                <input [(ngModel)]="endsOnDateValue" class="form-control" name="date"
                                                    bsDatepicker [bsConfig]="{dateInputFormat: 'MMMM YYYY'}"
                                                    (onShown)="onOpenCalendar($event)">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="kt-radio-list eom-radio">
                                        <span></span>
                                        <label class="kt-radio kt-radio--brand" name="radio5">
                                            <input type="radio" value="checklist.endOfMonth" name="endOn"
                                                (change)="handleRadioChange()" [(ngModel)]="checklist.endOfMonth">End of
                                            month
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="drag_drop_box">
                                <label>Attachments</label>
                                <ng-uppy [config]="settings" (uploadResult)="fileUploadedResponse($event)">
                                </ng-uppy>
                                <div *ngFor="let item of attachments" class="attachments_section">
                                    <a href="{{item.attachmentUrl}}" target="_blank" class="attachement_btn"
                                                download="{{item.attachmentUrl}}">
                                    <img src="../../../../assets/media/files/{{item.attachmentExtension}}">
                                        <span>{{item.attachmentName}}</span>
                                    </a>
                                    <button class="cross-btn" (click)="deleteAttachment(item.id)">
                                        <span class="fa fa-window-close"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__head mb-2">
                    </div>
                    <div class="">
                        <button class="btn btn-brand" (click)="SaveTaskChanges()">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>