<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="text-navyblue kt-portlet__head-title">
                            Task Details
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="javascript: void(0);" (click)="BackToTaskList()">
                            <i class="la la-arrow-left"></i>
                            Back
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-navyblue">{{taskDetailObject.taskName}}</h5>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Category <span
                                        class="bg-lightgrey badge badge-secondary bagesTextColor">{{taskDetailObject.categoryName}}</span>
                                    Closing Month <span
                                        class="bg-lightgrey badge badge-secondary bagesTextColor">{{taskDetailObject.closingMonth | date:'MMMM,yyyy'}}</span>
                                    Due By <span
                                        class="bg-lightgrey badge badge-secondary bagesTextColor">{{taskDetailObject.endsOn | date:'d MMMM, yyyy'}}</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="custom-text-area" innerHTML="{{taskDetailObject.instruction}} "></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="attachment-box">
                                        <!-- {{taskDetailObject.instruction}} -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <select class="form-control input-medium">
                                        <option>Comments</option>
                                        <option>History</option>
                                    </select>
                                </div>

                            </div>
                            <div class="commentmainView show-comments">
                                <div class="kt-widget3 ">

                                    <div *ngFor="let i of  (taskDetailObject.comments || [])" class="kt-widget3__item ">
                                        <div class="comments-header kt-widget3__header">
                                            <div class="kt-widget3__user-img">
                                                <div class="kt-user-card-v2__pic">
                                                    <div class="kt-badge kt-badge--xl kt-badge--warning">
                                                        {{i.userName | firstLetterOfWords}}</div>
                                                </div>
                                            </div>
                                            <div class="kt-widget3__info">
                                                <a class="kt-widget3__username">
                                                    {{i.userName}}
                                                </a><br>

                                            </div>
                                            <span class="kt-widget3__status kt-font-info">
                                                {{i.daysCount}}
                                            </span>
                                        </div>
                                        <div class="kt-widget3__body show-comments-inner">
                                            <p class="kt-widget3__text commentViewBox" innerHTML="{{i.body}}">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group giveCommentView" *ngIf="commantBox">
                                <label>Comments</label>
                                <div (click)="commentClick()">
                                    <div class="kt-user-card-v2">
                                        <div class="kt-user-card-v2__pic">
                                            <div class="kt-badge kt-badge--xl kt-badge--warning">{{userSignInName | firstLetterOfWords}}                                            </div>
                                        </div>
                                        <input [(ngModel)]="comment.body" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group " *ngIf="!commantBox">
                                <label>Comments</label>
                                <p-editor [(ngModel)]="comment.body" name="HtmlEditorInput"
                                    [style]="{'height':'150px'}">
                                </p-editor>
                                <button class="btn btn-brand" (click)="onComment()">Comment</button>
                                <button class="btn btn-brand" (click)="onCancelComment()">Cancel</button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <app-user-list-component  (callBack)="updateDetails()" taskId = {{recordId}} comingChangeReguest="DetailsClosingCheckList" userId = {{taskDetailObject.assigneeId}} ></app-user-list-component>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <app-status [TaskId]="recordId" [StatusList]=taskDetailObject.taskStatus></app-status>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a class="action-btn"><i class="fas fa-edit" (click)="RedirectToEditTaskPage()"
                                        style="color: #5867dd;"></i></a>
                                    <a class="action-btn" href="javascript:;" (click)="deleteTask()">
                                        <i class="fa fa-trash" style="color: #5867dd;"></i></a>
                                    <a class="action-btn" (click)="duplicateTask()" ><i class="fa fa-clone" aria-hidden="true"></i></a>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="drag_drop_box">
                                        <label>Attachments</label>
                                        <ng-uppy [config]="settings" (uploadResult)="fileUploadedResponse($event)">
                                        </ng-uppy>
                                        <div *ngFor="let item of attachments" class="attachments_section">
                                            <a href="{{item.attachmentUrl}}" class="attachement_btn" download="{{item.attachmentUrl}}">
                                                <img src="../../../../assets/img/{{item.attachmentExtension}}">  
                                                <span>{{item.attachmentName}}</span>
                                            </a>
                                            <button class="cross-btn" (click)="deleteAttachment(item.id)">
                                                <span class="fa fa-window-close"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>