<style>
    .filter-by-user {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
    }

    .filter-by-user li {
        display: inline-block;
        vertical-align: middle;
        margin-right: -15px;
    }

    .fc-unthemed .fc-toolbar .fc-button {
        color: #74788d;
        background: transparent;
        border: 1px solid #ebedf2;
    }

    .custom-categories-table tr td,
    .custom-categories-table tr th {
        padding: 8px 15px !important;
        max-width: 200px;
        width: 20%;
    }

    .custom-categories-table tr td .btn-group .btn {
        padding: 0 10px 0 0;
    }
</style>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Categories
                        </h3>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button *ngIf="isGranted('Pages.Categories.Create')" (click)="createCategory()"
                                class="btn btn-primary blue"><i class="fa fa-plus"></i>Add New</button>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-input-icon kt-input-icon--left">
                            <input (input)="getCategories()" [(ngModel)]="filterText" name="filterText" autoFocus
                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </div>
                    <!--start-->

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getCategories($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Creation On</th>
                                        <th>Created By</th>
                                        <th>Actions</th>
                                    </tr>


                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>

                                        <td style="width: 20%">
                                            <span class="ui-column-title"> {{'UserName' | localize}}</span>
                                            {{record.category.title}}
                                        </td>
                                        <td style="width: 20%">
                                            <span class="ui-column-title"> {{'Name' | localize}}</span>
                                            {{record.category.description}}
                                        </td>
                                        <td style="width: 20%">
                                            <span class="ui-column-title"> {{'Name' | localize}}</span>
                                            {{record.category.creationDate | date:'medium'}}
                                        </td>

                                        <td data-field="OrderID" class="kt-datatable__cell"><span>
                                                <div class="kt-user-card-v2">
                                                    <div class="kt-user-card-v2__pic">
                                                        <div class="kt-badge kt-badge--xl kt-badge--primary">N</div>
                                                    </div>
                                                    <div class="kt-user-card-v2__details"> <span
                                                            class="kt-user-card-v2__name">
                                                            {{record.category.createdBy}}</span> </div>
                                                </div>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="btn-group">

                                                <a class="btn" href="javascript:;"
                                                    (click)="editCategory(record.category.id)">
                                                    <i class="fas fa-edit" style="color: #5867dd;"></i></a>
                                                <a class="btn" href="javascript:;"
                                                    (click)="deleteCategory(record.category)">
                                                    <i class="fa fa-trash" style="color: #5867dd;"></i></a>


                                            </div>
                                        </td>


                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getCategories($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>

                    <!--End-->

                </div>

            </div>
        </div>
    </div>