.filter-by-user {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.filter-by-user li {
    display: inline-block;
    vertical-align: middle;
    margin-right: -15px;
}

.fc-unthemed .fc-toolbar .fc-button {
    color: #74788d;
    background: transparent;
    border: 1px solid #ebedf2;
}

.custom-categories-table tr td,
.custom-categories-table tr th {
    padding: 8px 15px !important;
    max-width: 200px;
    width: 20%;
}

.custom-categories-table tr td .btn-group .btn {
    padding: 0 10px 0 0;
}