<div>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Reconciliation" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="kt-grid__item ">
                        <div class="itemized-head">
                            <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                <div class="d-flex flex-wrap align-items-center">
                                    <h3 class="mr-3 mb-0">
                                        <span>{{"Amortized List" | localize}}</span>
                                    </h3>
                                    <h6 class="ml-3 mb-0">
                                        Account No
                                        <span class="bg-lightgrey badge badge-secondary bagesTextColor">{{accountNo}}</span>
                                        Account Name
                                        <span class="bg-lightgrey badge badge-secondary bagesTextColor">{{accountName}}</span>
                                    </h6>

                                </div>
                                <div class="kt-subheader__toolbar">
                                    <div class="kt-subheader__wrapper">
                                        <a class="mr-3" href="javascript: void(0);" (click)="BackToReconcileList()">
                                            <i class="la la-arrow-left"></i>
                                            Back
                                        </a>

                                        <button *ngIf="!lock" class="btn btn-brand" (click)="RedirectToAddNewItem()"><i
                                            class="fa fa-plus"></i>
                                        {{"AddNew" | localize}}</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="kt-form calender-filter">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="date-picker">
                                        <input id="monthValue" 
                                            value="january 2020" (ngModelChange)="filterByMonth($event)" class="date-field"  name="monthValue"
                                            [(ngModel)]="monthValue" [bsConfig]="{dateInputFormat: 'MMMM YYYY'}"
                                            (onShown)="onOpenCalendar($event)" type="text" bsDatepicker />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="primeng-paging-container">
                        <div class="table-box">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="task-table" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable class=" record-table" (onLazyLoad)="getAllAmortizedList($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr  class="task-table-inner">
                                        <th class="accountNo-cell" scope="col" pSortableColumn="AccountNumber">
                                            Start Date
                                            <p-sortIcon field="AccountNumber"></p-sortIcon>
                                        </th>
                                        <th class="accountType-cell " scope="col">
                                            End Date
                                        </th>
                                        <th class="accountName-cell" scope="col" pSortableColumn="AccountType">
                                            Description
                                            <p-sortIcon field="AccountType"></p-sortIcon>
                                        </th>
                                        <th class="reconciliation-cell" scope="col">
                                            Beginning Amount
                                        </th>
                                        <th class="accountSubtype-cell" scope="col">
                                            Accrued Amortization
                                        </th>
                                        <th class="assignee-cell" scope="col" pSortableColumn="AssigneeId">
                                            Net Amount
                                            <p-sortIcon field="AssigneeId"></p-sortIcon>
                                        </th>
                                        <th class="action-cell" scope="col">
                                            Attachments
                                        </th>

                                        <th class="cell-none">
                                            <!-- <div (click)="collapsibleRowClick(j.id)" class="taggle-btn"></div> -->
                                        </th>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                        <!--<Primeng-TurboTable-End> {{i.creationTime | date:'d MMM EEE'}} -->
                        <table class="table record-table">
                            <tbody *ngFor="let item of itemList">
                                <tr  class="task-table-inner table-repeater">
                                    <td class="accountNo-cell">
                                        <span class="">{{item.startDate | date}}</span>
                                    </td>
                                    <td class="accountType-cell ">
                                        <span class="">{{item.endDate | date}}</span>
                                    </td>
                                    <td class="accountName-cell" (click)="RedirectToDetails(item.id,item.accuredAmortization,item.netAmount)">
                                        <span class="task-box">{{item.description}}</span>
                                    </td>
                                    <td class="reconciliation-cell">
                                        <span class="">$ {{item.beginningAmount | formater }}</span>
                                    </td>
                                    <td class="accountSubtype-cell">
                                        <span class="">$ {{item.accuredAmortization | formater }}</span>
                                    </td>
                                    <td class="assignee-cell">
                                        <span class="">$ {{item.netAmount | formater}}</span>
                                    </td>
                                    <td class="action-cell">
                                        <span class="">
                                            <div class="d-flex">
                                                <div *ngIf="item.attachments?.length > 0" class="drag_drop_box">
                                                    <div class="drag_drop_box">
                                                        <div class="attachments_section">
                                                            <a  href="{{item.attachments[0].attachmentUrl}}" target="_blank"
                                                                download="{{item.attachments[0].attachmentUrl}}" class="attachement_btn">
                                                                <img src="../../../../assets/media/files/{{item.attachments[0].attachmentExtension}}">
                                                                <span>{{item.attachments[0].attachmentName}}</span>
                                                            </a>     
                                                        </div> 
                                                    </div>
                                                </div>
                                                     <div *ngIf="item.attachments?.length > 0" class="drag_drop_box"> 
                                                            <span class="attatchments-box">+{{item.attachments?.length}}
                                                            <div  class="attachment-dropdown">
                                                               <div  *ngFor="let i of item.attachments" _ngcontent-qyg-c22="" class="attachments_section ng-star-inserted">
                                                                   <a  _ngcontent-qyg-c22="" class="attachement_btn" target="_blank" 
                                                                   href="{{i.attachmentUrl}}" 
                                                                   download="{{i.attachmentUrl}}">
                                                                   <img _ngcontent-qyg-c22="" src="../../../../assets/media/files/{{i.attachmentExtension}}">
                                                                   <span _ngcontent-qyg-c22="">{{i.attachmentName}}</span>
                                                                </a>
                                                                </div>
                                                            </div>
                                                        </span> 
                                                    </div>        
                                            <div *ngIf="item.attachments?.length == 0" class="col-md-12">
                                                <div  class="drag_drop_box">
                                                     <div  class="attachments_section_none">
                                                        <a  *ngIf="item.attachments?.length == 0"class="attachement_btn">
                                                            <span>No Attachments</span>
                                                        </a>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>

                                        </span>

                                        <!-- <span  class="attatchments-box ">+3</span> -->

                                    </td>
                                    <td class="toggle-btn-cell">
                                        <div (click)="collapsibleRowClick(item.id)" class="taggle-btn"></div>
                                    </td>
                                </tr>
                                <!-- show-collapsible-row -->
                                <tr *ngIf="collapsibleRow == true && item.id == collapsibleRowId"
                                    class="table-row-collapsible">
                                    <td>
                                        <ul>
                                            <li>
                                                <div class="thead-box"><b>Net Amount : </b></div>
                                                <div *ngIf="item.netAmount"  class="tdata-box">
                                                    <span class="">$ {{item.netAmount | formater}}</span>
                                                </div>
                                                <div *ngIf="!item.netAmount"  class="tdata-box">
                                                    <span class="">$ {{0 | formater}}</span>
                                                </div>
                                                
                                            </li>
                                            <li >
                                                <div class="thead-box"><b> Attachments : </b></div>
                                                <div class="tdata-box d-flex">
                                                   
                                                    <div class="d-flex">
                                                        <div *ngIf="item.attachments?.length > 0" class="drag_drop_box">
                                                            <div class="drag_drop_box">
                                                                <div class="attachments_section">
                                                                    <a  href="{{item.attachments[0].attachmentUrl}}" target="_blank"
                                                                        download="{{item.attachments[0].attachmentUrl}}" class="attachement_btn">
                                                                        <img src="../../../../assets/media/files/{{item.attachments[0].attachmentExtension}}">
                                                                        <span>{{item.attachments[0].attachmentName}}</span>
                                                                    </a>     
                                                                </div> 
                                                            </div>
                                                        </div>
                                                             <div *ngIf="item.attachments?.length > 0" class="drag_drop_box"> 
                                                                    <span class="attatchments-box">+{{item.attachments?.length}}
                                                                    <div  class="attachment-dropdown">
                                                                       <div  *ngFor="let i of item.attachments" _ngcontent-qyg-c22="" class="attachments_section ng-star-inserted">
                                                                           <a  _ngcontent-qyg-c22="" class="attachement_btn" target="_blank" 
                                                                           href="{{i.attachmentUrl}}" 
                                                                           download="{{i.attachmentUrl}}">
                                                                           <img _ngcontent-qyg-c22="" src="../../../../assets/media/files/{{i.attachmentExtension}}">
                                                                           <span _ngcontent-qyg-c22="">{{i.attachmentName}}</span>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </span> 
                                                            </div>        
                                                    <div *ngIf="item.attachments?.length == 0" class="col-md-12">
                                                        <div  class="drag_drop_box">
                                                             <div  class="attachments_section_none">
                                                                <a  *ngIf="item.attachments?.length == 0"class="attachement_btn">
                                                                    <span>No Attachments</span>
                                                                </a>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
        

                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{'NoData' | localize}}
                        </div>
                    </div>
                    <div class="pagination-block">
                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                            [totalRecords]="primengTableHelper.totalRecordsCount"
                            (onPageChange)="getAllAmortizedList($event)"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            class="paginator-counter">
                        </p-paginator>
                        <span class="total-records-count">
                            {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                        </span>
                    </div>
                </div>      
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <select class="input-medium">
                                    <option>Comments</option>
                                    <option>History</option>
                                </select>
                            </div>
                            <div class="commentmainView show-comments">
                                <div class="kt-widget3 ">
                                    <div class="kt-widget3__item ">
                                        <div class="comments-header kt-widget3__header">
                                            <div class="kt-widget3__user-img">
                                                <div class="kt-user-card-v2__pic">
                                                    <div class="kt-badge kt-badge--xl kt-badge--warning">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-widget3__info">
                                                <a class="kt-widget3__username">
                                                    hammmad
                                                </a><br>
                                            </div>
                                            <span class="kt-widget3__status kt-font-info">
                                                2 days 2020
                                            </span>
                                        </div>
                                        <div class="kt-widget3__body show-comments-inner">
                                            <p class="kt-widget3__text commentViewBox">
                                              Some Comments 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group giveCommentView" *ngIf="commantBox">
                                <label>Comments</label>
                                <div (click)="commentClick()">
                                    <div class="kt-user-card-v2">
                                        <div class="kt-user-card-v2__pic">

                                            <div class="kt-user-card-v2__pic">
                                                <div *ngIf="UserProfilePicture" class="kt-badge kt-badge--xl">
                                                    <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                        alt="Pic" [src]="UserProfilePicture">
                                                </div>

                                                <div *ngIf="!UserProfilePicture"
                                                    class="kt-badge kt-badge--xl kt-badge--primary">
                                                    {{userName | firstLetterOfWords}}
                                                </div>
                                            </div>
                                        </div>
                                        <input class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group " *ngIf="!commantBox">
                                <label>Comments</label>
                                <p-editor name="HtmlEditorInput" [style]="{'height':'150px'}">
                                </p-editor>
                                <button class="btn btn-brand" (click)="onComment()">Comment</button>
                                <button class="btn btn-brand" (click)="onCancelComment()">Cancel</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="report-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-navyblue">Beginning Amount</th>
                                            <th class="text-navyblue">Accrued Amortization</th>
                                            <th class="text-navyblue">Net Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-navyblue">Total:</td>
                                            <td class="text-blue">$ {{begininngAmount| formater }}</td>
                                            <td class="text-blue">$ {{accuredAmount| formater }}</td>
                                            <td class="text-blue">$ {{netAmount | formater}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-navyblue">Total Balance:</td>
                                            <td class="text-blue">$0</td>
                                            <td class="text-blue">$0</td>
                                            <td class="text-blue">$0</td>
                                        </tr>
                                        <tr>
                                            <td class="text-navyblue">Varience:</td>
                                            <td class="text-blue">$0</td>
                                            <td class="text-blue">$0</td>
                                            <td class="text-blue">$0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Check-reconcile-btn">
                                <button class="btn btn-brand" >Check as Reconciled</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>