<div class="d-flex h-100 align-items-center" style="padding-bottom: 150px !important;">
    <div class="kt-login__form align-middle m-0 text-center">
        <div *ngIf="!paymentResult" class="kt-login__title mb-3">
            <h3>{{"PleaseWait" | localize}}</h3>
            <p class="text-center">
                {{"ReceivingPaymentResult" | localize}} {{"PleaseWait" | localize}}
            </p>
        </div>
        <div *ngIf="paymentResult" class="kt-login__title mb-3">
            <h3>{{"ThankYou" | localize}}</h3>
            <p class="text-center">
                {{"YourPaymentHasBeenCompleted" | localize}}
            </p>
            <p>
                {{"ActivationMessage" | localize}}
            </p>
        </div>
        <div *ngIf="paymentResult" class="my-5">&emsp;
            <i class="fas fa-check fa-4x text-success"></i>
        </div>
        <a *ngIf="paymentResult" class="btn btn-info" (click)="goToHome()">
            {{"GoToHomePage" | localize}}</a>
    </div>
</div>