<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{formTitle}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="javascript: void(0);" (click)="BackToCategoriesList()">
                            <i class="la la-arrow-left"></i>
                            Back
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Body Start-->
                    <form  (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="categoryobj.title" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <p-editor [(ngModel)]="categoryobj.description" name="description"
                                    [style]="{'height':'150px'}"></p-editor>
                            </div>
                        </div>
                    </div>
               
                   
                    <div class="kt-portlet__head">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-brand"  type="submit">
                            {{saveBtnText}}
                        </button>
                    </div>
                </form>
                </div>
               
            </div>
        </div>
    </div>