<div class="kt-grid kt-grid--ver kt-grid--root" [@routerTransition]>
<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
        style="background-image: url(./assets/media//bg/background_1.png);">
        <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
            <div class="kt-login__container">
                <div class="kt-login__logo">
                    <a href="#">
                        <img src="./assets/media/logos/logo.png">
                    </a>
                </div>
                <div class="kt-login__signin">
                    <div class="kt-login__head">
                        <h3 class="kt-login__title">Sign In To your account</h3>
                    </div>

                    <form #loginForm="ngForm" class="kt-form" method="post" novalidate (ngSubmit)="login()">
                        <div class="input-group">

                            <input #userNameOrEmailAddressInput="ngModel"
                                [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus
                                class="form-control" type="text" autocomplete="new-password"
                                placeholder="{{'UserNameOrEmail' | localize}} *" name="userNameOrEmailAddress"
                                required />
                            <validation-messages [formCtrl]="userNameOrEmailAddressInput"
                                *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
                        </div>


                        <div class="input-group">
                            <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password"
                                class="form-control" type="password" autocomplete="new-password"
                                placeholder="{{'Password' | localize}} *" name="password" required maxlength="32" />
                            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched">
                            </validation-messages>
                        </div>


                        <div class="row kt-login__extra">
                            <div class="col">
                                <label class="kt-checkbox">
                                    <input [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe"
                                        value="true" />{{"RememberMe" | localize}}
                                    <span></span>
                                </label>
                            </div>

                            <div class="col kt-align-right">
                                <a routerLink="/account/forgot-password" id="forget-password"
                                    class="kt-link kt-login__link">Forget Password ?</a>
                            </div>
                        </div>
                        <div class="kt-login__actions">
                            <button type="submit" id="kt_login_signin_submit" [disabled]="!loginForm.form.valid"
                                class="btn btn-pill kt-login__btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>

                <div class="kt-login__account">
                    <span class="kt-login__account-msg">
                        Don't have an account yet ?
                    </span>&nbsp;&nbsp;
                    <a href="javascript:;" id="kt_login_signup"
                        class="kt-link kt-link--light kt-login__account-link">Request Access</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>