<div class="kt-subheader kt-grid__item">
    <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <img src="./assets/media/ClosingCheckList/reconcilliation.svg" alt="clipboard">
                <span class="headSpace"> {{"Reconciliation" | localize}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">

            </span>
        </div>
    </div>
</div>

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <section class="zinlo-records">
            <div class="custom-container">
                <div class="card">
                    <div class="record-card-header">
                        <div class="record-card-header-bottom">   
                            <div class="record-card-header-bottom-inner1">
                                <button class="btn arrow-btn left-arrow-btn btn-square"  (click)="filterByMonth(-1)">
                                    <img src="./assets/media/ClosingCheckList/left-arrow.svg" alt="left-arrow">
                                </button>
                                <h5  style="cursor: default;">{{selectedDate | date:'MMM yyyy'}}</h5>
                                <button class="btn arrow-btn right-arrow-btn btn-square ml-2" (click)="filterByMonth(1)">
                                    <img src="./assets/media/ClosingCheckList/right-arrow.svg" alt="right-arrow">
                                </button>

                                <div class="record-card-header-bottom-inner1">
                                    <button *ngIf="'Pages.ChartsofAccounts.Upload' | permission" class="btn btn-images btn-width pt-2" data-toggle="modal" data-target="#kt_modal_2">
                                        <img src="../../../../assets/img/upload.png">
                                        {{"Upload" | localize}}
                                    </button>
                                </div>

                                 <!-- Modal For Upload -->
                            <div class="modal fade uppy-modal" id="kt_modal_2" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            <!--Place model title here-->
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body upload-body">
                                        <div class="drag_drop_box uppy-modal-box1">

                                            <p>{{"Upload Trial Balance" | localize}}</p>
                                        </div>
                                        <ng-uppy [config]="settings" 
                                            (uploadResult)="fileUploadedResponseTrialBalance($event)">
                                        </ng-uppy>
                                        <div >
                                            <div class="row modal-bottom-record">
                                                <div class="col-md-12">
                                                    <!-- <p>{{"Trial Balance Format" | localize}} <a href="../../../../assets/TrailBalance.xlsx" download="TrailBalance.xlsx"style="color:blue;margin-left: 20px;cursor: pointer;"><u>{{"Download Sample File" | localize}}</u></a></p> -->
                                                    <div class="row py-0">
                                                        <div class="col-xl-5 form-group"><label>{{"Trial Balance Format" | localize}} </label><a href="../../../../assets/TrailBalance.xlsx" download="TrailBalance.xlsx"style="color:blue;margin-left: 20px;cursor: pointer;"><u>{{"Download Sample File" | localize}}</u></a>
                                                        </div>    
                                                        <div class="form-group col-xl-3 pt-2">
                                                            <label>{{"Select Month for Trial Balance" | localize}} </label>
                                                        </div>
                                                        <div class="form-group col-xl-3" style="height: 40px !important;">
                                                            <div class="month-calender">
                                                                <form class="input-arrow">
                                                                    <input [(ngModel)]="selectedDate"  (ngModelChange)="checkMonthActiveorNot($event)" required="required"
                                                                    autocomplete="off" class="form-control" name="date" bsDatepicker 
                                                                        placeholder="Select Month" class="form-control" name="date"
                                                                        bsDatepicker
                                                                        [bsConfig]="{dateInputFormat: 'MMMM YYYY'}"
                                                                        (onShown)="onOpenCalendar($event)">
                                                                </form>                
                                                                <span class="form-control-feedback"
                                                                *ngIf="!checkActiveMonth">{{"ThisMonthIsNotActive" | localize}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="inner-col-record border border-default">

                                                        <div class="row">
                                                            <div class="modal-bottom-row-col">
                                                                <p>{{"Account Name" | localize}}</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>{{"Account Number" | localize}}</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>{{"Balance" | localize}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-width"
                                            data-dismiss="modal">{{"Close" | localize}}</button>
                                        <button type="button" class="btn btn-primary btn-width"  data-dismiss="modal" (click)="SaveChanges()" [disabled]="activeSaveButton" >{{"Save changes" | localize}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                            </div>


                            <!-- <div class="record-card-header-bottom-inner1">
                                <h5>{{currentDate | momentFormat:'MMMM YYYY'}}</h5>
                            </div> -->
                            <div class="record-card-header-bottom-inner2">
                              
                                <div class="upper-content">
                                    <div class="users-box-parent">
                                        <div class="users-box">
                                            <div *ngIf="plusUserBadgeForHeader"
                                                class="member-count bg-lightgrey text-blue">
                                                <span>+{{remainingUserForHeader.length}}</span>
                                                <div class="member-dropdown">
                                                    <ul *ngFor="let item of remainingUserForHeader" >
                                                        <li (click)="GetAssigniSpecficAccounts(item.id)">
                                                            <div class="kt-user-card-v2__pic">
                                                                <div *ngIf="item.picture"
                                                                    class="kt-badge kt-badge--xl mem-img">
                                                                    <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                                        alt="Pic" [src]="item.profilePicture">
                                                                </div>
                                                                <div *ngIf="!item.picture"
                                                                    class="kt-badge kt-badge--xl kt-badge--primary mem-img">
                                                                    {{item.name | firstLetterOfWords}}</div>
                                                            </div>
                                                            <div class="kt-user-card-v2__details">
                                                                <span class="kt-user-card-v2__name">
                                                                    {{item.name}}
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div *ngFor="let item of assigniNameForHeader "
                                                (click)="GetAssigniSpecficAccounts(item.id)" class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic user-image-box">
                                                    <div *ngIf="item.picture" class="kt-badge kt-badge--xl">
                                                        <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                            alt="Pic" [src]="item.picture">
                                                    </div>
                                                    <div *ngIf="!item.picture"
                                                        class="kt-badge kt-badge--xl kt-badge--primary">
                                                        {{item.name | firstLetterOfWords}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group category-selector">
                                        <select class="form-control border-grey" name="categoryFilter"
                                        [(ngModel)]="accountTypeFilter" (change)="accountTypeClick($event)"
                                        id="exampleFormControlSelect2">
                                            <option value="0">Account type</option>
                                            <option *ngFor="let item of accountTypeList;" [value]="item.id">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="upper-content">
                                        <form class="search-form">
                                            <div class="form-group">
                                                <input type="text" autoFocus (input)="getAllAccounts()"
                                                    [(ngModel)]="filterText" name="filterText"
                                                    [placeholder]="l('SearchWithThreeDot')" class="form-control m-input">
                                            </div>
                                        </form>
                                    </div>
                                </div>              
                            </div>
                            <div class="w-100">
                                <div class="row abc">
                                    <div class="form-group category-selector">
                                        <select class="form-control border-grey" name="reconciliationTypeFilter"
                                        [(ngModel)]="reconciliationTypeFilter" (change)="reconciliationTypeFilterHandler($event)"
                                        id="exampleFormControlSelect2">
                                            <option value="0">Reconciliation type</option>
                                            <option *ngFor="let item of reconcillationTypeList;" [value]="item.id">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="abc">
                                        <input name="includeNotReconciled" type="checkbox" (change)="includeNotReconciledCheckBoxHandler($event)" class="mr-1"/>
                                        <span>Include Not Reconciled Accounts</span>
                                    </div>
                                </div>                 
                            </div>
                        </div>
                    </div>
                    <div class="primeng-paging-container" style="margin:0px -5px">
                        <div class="table-box">

                            <!--<Primeng-TurboTable-Start>-->
                            <div class="task-table" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable class=" record-table"
                                    (onLazyLoad)="getAllAccounts($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr class="task-table-inner">
                                            <th class="accountNo-cell" scope="col" pSortableColumn="AccountNumber">
                                                {{"Account No" | localize}}
                                                <p-sortIcon field="AccountNumber"></p-sortIcon>
                                            </th>
                                            <th class="accountName-cell" scope="col" pSortableColumn="AccountName">
                                                {{"Account Name" | localize}}
                                                <p-sortIcon field="AccountName"></p-sortIcon>
                                            </th>
                                            <th class="accountType-cell" scope="col" pSortableColumn="AccountType">
                                                {{"Account Type" | localize}}
                                                <p-sortIcon field="AccountType"></p-sortIcon>
                                            </th>
                                            <th class="reconciliation-cell" scope="col" pSortableColumn="ReconciliationType">
                                                {{"Reconciliation Type" | localize}}  
                                                <p-sortIcon field="ReconciliationType"></p-sortIcon>  
                                            </th>
                                            <th class="reconciliation-cell" scope="col">
                                                {{"Balance" | localize}}
                                            </th>
                                            <th class="reconciliation-cell" scope="col">
                                                {{"Trial Balance"}}
                                            </th>
                                            <th class="assignee-cell" scope="col" pSortableColumn="AssigneeId">
                                                {{"Assignee" | localize}}
                                                <p-sortIcon field="AssigneeId"></p-sortIcon>
                                            </th>
                                            <th class="action-cell" scope="col">
                                                {{"Status" | localize}}
                                            </th>

                                            <th class="cell-none">
                                                <!-- <div (click)="collapsibleRowClick(j.id)" class="taggle-btn"></div> -->
                                            </th>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                            <!--<Primeng-TurboTable-End> {{i.creationTime | date:'d MMM EEE'}} -->
                            <table class="table record-table">
                                <tbody *ngFor="let item of chartsOfAccountList">
                                    <tr  class="task-table-inner table-repeater">

                                        <td class="accountNo-cell">
                                            <span class="">{{item.accountNumber}}</span>
                                            
                                        </td>
                                        <td class="accountName-cell" (click)="reDirectToItemizedAmotized(item.linkedAccountName,item.linkedAccountId,item.linkedAccountNumber,item.reconciliationTypeId,item.id,item.accountNumber,item.accountName,item.accountBalanceId)">
                                            <span class="task-box">{{item.accountName}}</span>
                                        </td>
                                        <td class="accountType-cell">
                                            <span class="category-name bg-lightgrey">{{item.accountType}}</span>
                                        </td>
                                        <td class="reconciliation-cell">
                                            <span class="">{{item.reconciliationType}}</span>
                                        </td>
                                        <td class="reconciliation-cell">
                                            <span class=""> {{item.balance  | formater}}</span>
                                        </td>
                                        <td class="reconciliation-cell">
                                            <span class=""> {{item.trialBalance  | formater}}</span>
                                        </td>
                                       
                                        <td [ngClass]="{'disabled':!monthStatus,disabled :!changeAssigneePermission}" style="cursor: pointer;" data-toggle="tooltip" title="Chenge Assignee" class="assignee-cell">
                                            <div *ngIf="item.id != rowid" class="kt-user-card-v2"
                                                (click)="openFieldUpdateAssignee(item.id)">
                                                <div class="kt-user-card-v2__pic">
                                                    <div *ngIf="item.profilePicture" class="kt-badge kt-badge--xl">
                                                        <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                            alt="Pic" [src]="item.profilePicture">
                                                    </div>

                                                    <div *ngIf="!item.profilePicture"
                                                        class="kt-badge kt-badge--xl kt-badge--primary">
                                                        {{item.assigneeName | firstLetterOfWords}}
                                                    </div>
                                                </div>
                                                <div class="kt-user-card-v2__details"> <span
                                                        class="kt-user-card-v2__name">
                                                        {{item.assigneeName}}</span> 
                                                </div>
                                            </div>
                                            <div *ngIf="item.id == rowid">
                                                <app-user-list-component  (callBack)="refreshGrid()"  taskId = {{item.id}} comingChangeReguest="accounts" userId = {{item.assigneeId}} ></app-user-list-component>
                                            </div>
                                        </td>
                                        <td [ngClass]="{'disabled':!monthStatus ,disabled :!changeStatusPermission}" class="action-cell">
                                            <form class="task-report-form">
                                                <select [disabled]="item.lock" onclick="console.log('test')"
                                                    (change)="ChangeStatus($event.target.value,item.id,item.accountReconciliationCheck)"
                                                    class="form-control border-0 {{item.statusBoxColor}} text-white">
                                                    <option value="" selected disabled hidden>
                                                        {{item.statusName}}</option>
                                                    <option value="1">{{"InProcess" | localize}}</option>
                                                    <option value="2">{{"Open" | localize}}</option>
                                                    <option value="3">{{"Completed" | localize}}</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td class="toggle-btn-cell">
                                            <div (click)="collapsibleRowClick(item.id)" class="taggle-btn"></div>
                                        </td>
                                    </tr>
                                        <!-- show-collapsible-row -->
                                    <tr *ngIf="collapsibleRow == true && item.id == collapsibleRowId" class="table-row-collapsible "> 
                                        <td>
                                            <ul>
                                                <li class="reconciliation-cell collapsable-cell">
                                                    <div class="thead-box"><b>{{"Reconciliation" | localize}} : </b></div>
                                                    <div class="tdata-box">
                                                        <span class="">{{item.reconciliationType}}</span>
                                                    </div>
                                                </li>
                                                <li class="accountSubtype-cell collapsable-cell">

                                                    <div class="thead-box"><b> {{"Balanace" | localize}} </b></div>
                                                    <div class="tdata-box">
                                                        <span *ngIf="item.balance" class="">{{item.balance  | formater}}</span>
                                                    </div>
                                                </li>
                                                <li class="accountSubtype-cell collapsable-cell">

                                                    <div class="thead-box"><b> Trial Balance </b></div>
                                                    <div class="tdata-box">
                                                        <span *ngIf="item.balance" class="">{{item.trialBalance  | formater}}</span>
                                                    </div>
                                                </li>
                                                <li [ngClass]="{'disabled':!monthStatus,disabled :!changeAssigneePermission}" class="assignee-cell collapsable-cell kt-user-card-v2">
                                                    <div class="thead-box"><b>{{"Assignee" | localize}} : </b></div>
                                                    <div  *ngIf="item.id != rowid" (click)="openFieldUpdateAssignee(item.id)" style="cursor: pointer;" data-toggle="tooltip" title="Chenge Assignee" class="tdata-box">
                                                        <div class="kt-user-card-v2__pic">
                                                            <div *ngIf="item.profilePicture"
                                                                class="kt-badge kt-badge--xl">
                                                                <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                                    alt="Pic" [src]="item.profilePicture">
                                                            </div>
                                                            <div *ngIf="!item.profilePicture"
                                                                class="kt-badge kt-badge--xl kt-badge--primary">
                                                                {{item.assigneeName | firstLetterOfWords}}</div>
                                                            <span class="kt-user-card-v2__name">
                                                                {{item.assigneeName}}</span>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="item.id == rowid">
                                                        <app-user-list-component  (callBack)="refreshGrid()"  taskId = {{item.id}} comingChangeReguest="accounts" userId = {{item.assigneeId}} ></app-user-list-component>
                                                    </div>
                                                </li>
                                                <li [ngClass]="{'disabled':!monthStatus ,disabled :!changeStatusPermission}" class="action-cell-item collapsable-cell">
                                                    <div class="thead-box"><b>{{"Status" | localize}} : </b></div>
                                                    <form class="task-report-form">
                                                        <form class="task-report-form">
                                                            <select  onclick="console.log('test')"
                                                                (change)="ChangeStatus($event.target.value,item.id)"
                                                                class="form-control border-0 {{item.statusBoxColor}} text-white">
                                                                <option value="" selected disabled hidden>
                                                                    {{item.statusName}}</option>
                                                                <option value="1">{{"InProcess" | localize}}</option>
                                                                <option value="2">{{"Open" | localize}}</option>
                                                                <option value="3">{{"Completed" | localize }}</option>
                                                            </select>
                                                        </form>
                                                    </form>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                             </tbody>
                            </table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                        </div>
                        <div class="pagination-block">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAllAccounts($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                class="paginator-counter">
                            </p-paginator>
                            <span class="total-records-count">
                                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>