.filter-by-user{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.filter-by-user li{
    display: inline-block;
    vertical-align: middle;
    margin-right: -15px;
}
.fc-unthemed .fc-toolbar .fc-button {
    color: #74788d;
    background: transparent;
    border: 1px solid #ebedf2;
}