<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <section class="zinlo-records">
            <div class="custom-container">
                <div class="card">
                    <div class="record-card-header">
                        <div class="record-card-header-top border-bottom-grey">
                            <div class="record-card-header-top-inner1">
                                <img src="./assets/media/ClosingCheckList/clipboard.svg" alt="clipboard">
                                <h6>Checklist</h6>
                            </div>
                            <div class="record-card-header-top-inner2">
                                <button (click)="RedirectToCreateTask()" type="button" class="btn bg-blue text-white">+
                                    Add new</button>
                            </div>
                        </div>
                        <div class="record-card-header-bottom">
                            <div class="record-card-header-bottom-inner1">
                                <button class="btn arrow-btn left-arrow-btn btn-square">
                                    <img src="./assets/media/ClosingCheckList/left-arrow.svg" alt="left-arrow">
                                </button>
                                <button class="btn arrow-btn right-arrow-btn btn-square">
                                    <img src="./assets/media/ClosingCheckList/right-arrow.svg" alt="right-arrow">
                                </button>
                                <h5>January 2020</h5>
                            </div>
                            <div class="record-card-header-bottom-inner2">
                                <div class="upper-content">
                                    <form class="search-form">
                                        <div class="form-group">
                                            <input type="text" name="search" placeholder="Search" class="border-grey">
                                        </div>
                                    </form>
                                    <div class="users-box-parent">
                                        <div class="users-box">
                                            <div class="member-count bg-lightgrey text-blue">
                                                <span>+3</span>
                                                <div class="member-dropdown">
                                                    <ul>
                                                        <li>
                                                            <span class="mem-img"><img
                                                                    src="./assets/media/ClosingCheckList/girl2.png"
                                                                    alt="member-image"></span>
                                                            <span class="mem-nm">Sara</span>
                                                        </li>
                                                        <li>
                                                            <span class="mem-img"><img
                                                                    src="./assets/media/ClosingCheckList/girl2.png"
                                                                    alt="member-image"></span>
                                                            <span class="mem-nm">Sara</span>
                                                        </li>
                                                        <li>
                                                            <span class="mem-img"><img
                                                                    src="./assets/media/ClosingCheckList/girl2.png"
                                                                    alt="member-image"></span>
                                                            <span class="mem-nm">Sara</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            

                                            <div *ngFor="let i of ClosingCheckList" class="user-image-box">
                                                <div class="user-image bg-sea-green  text-white">
                                                    <span>{{i.closingCheckListForViewDto.NameAvatar}}</span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="date-picker">
                                        <button class="btn btn-light"><img
                                                src="./assets/media/ClosingCheckList/calendar.svg" alt="calender">
                                            january 2020</button>
                                    </div>
                                    <div class="dropdown-btn-box">
                                        <button (click)="openFilterClick()" class="btn btn-square"><img
                                                src="./assets/media/ClosingCheckList/filter.png" alt="filter"></button>
                                    </div>
                                </div>
                                <div *ngIf="FilterBoxOpen" class="lower-content">
                                    <form>
                                        <div class="form-group">
                                            <select class="form-control border-grey" id="exampleFormControlSelect1">
                                                <option>Status</option>
                                                <option>option2</option>
                                                <option>option3</option>
                                                <option>option4</option>
                                                <option>option5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control border-grey" id="exampleFormControlSelect2">
                                                <option>Category</option>
                                                <option>option2</option>
                                                <option>option3</option>
                                                <option>option4</option>
                                                <option>option5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control border-grey" id="exampleFormControlSelect3">
                                                <option>Date</option>
                                                <option>option2</option>
                                                <option>option3</option>
                                                <option>option4</option>
                                                <option>option5</option>
                                            </select>
                                        </div>
                                        <div class="block-btn">
                                            <button  class="btn btn-square bg-lightgrey">
                                                <img src="./assets/media/ClosingCheckList/block.png" alt="block-btn">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="record-card-body border-bottom-grey">
                        <div class="table-box">
                            <table class="table record-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Task Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Assignee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                    <tr *ngFor="let i of ClosingCheckList">

                                        <td (click)="RedirectToDetail(i.closingCheckListForViewDto.id)">
                                            <div class="num-n-date">
                                                <span class="record-num">8</span>
                                                <span class="month">Jan</span>,
                                                <span class="day">Wed</span>
                                            </div>
                                        </td>
                                        <td (click)="RedirectToDetail(i.closingCheckListForViewDto.id)">
                                            <span class="task-box">{{i.closingCheckListForViewDto.taskName}}</span>
                                        </td>
                                        <td (click)="RedirectToDetail(i.closingCheckListForViewDto.id)">
                                            <span
                                                class="category-name bg-lightgrey">{{i.closingCheckListForViewDto.category}}</span>
                                        </td>

                                        <td>
                                            <form class="task-report-form">
                                                <select (click)="ChangeStatus(value)" class="form-control border-0 {{i.closingCheckListForViewDto.StatusColor}} text-white" >
                                                    <option value="" selected disabled hidden>{{i.closingCheckListForViewDto.status}}</option>
                                                    <option value="1" >Open</option>
                                                    <option value="2" >Complete</option>
                                                    <option value="3" >Inprogress</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td>
                                            <div class="assignee-info">
                                                <span class="assignee-image bg-sea-green">{{i.closingCheckListForViewDto.NameAvatar}}</span>
                                                <span
                                                    class="assignee-name">{{i.closingCheckListForViewDto.assigniName}}</span>
                                            </div>
                                        </td>
                                    </tr>










                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="record-card-footer">
                        <div class="record-card-footer-inner1">
                            <nav aria-label="Page-navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link previous-all bg-lightgrey" href="#"
                                            aria-label="Previous_all">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous all</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link previous bg-lightgrey" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&#x2039;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item">
                                        <a class="page-link next bg-lightgrey" href="#" aria-label="Next">
                                            <span aria-hidden="true">&#x203A;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link next-all bg-lightgrey" href="#" aria-label="Next_all">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next all</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="record-card-footer-inner2">
                            <form>
                                <div class="form-group m-0">
                                    <select class="form-control border-grey">
                                        <option>All</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </form>
                            <span class="display-record-result">Displaying 1 - 10 of 100 records</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>