
.search-field  img{
    border-radius: 100%;
    height: 25x;
    width: 25px;
}
::ng-deep .search-field ng-select .ng-select-container {
    height: calc(1.5em + 1.3rem + 2px) !important;
    width: 100% !important;

}

body {
    position: relative;
}
::ng-deep ng-dropdown-panel {
    transition: opacity 0.1s linear;
}
.imagedropdown{
    width:25px;
     height:25px;
     border-radius: 100%;
     font-size: 10px;
}

::ng-deep .ng-select .ng-arrow-wrapper {
    display: none;
}
 .ng-star-inserted{
    width: 100% !important;
}
/* ::ng-deep .ng-dropdown-panel.ng-star-inserted.ng-select-bottom{
    margin-left: 10px !important;
} */