<div class="kt-datatable__cell">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{StatusList}}
    </button>
    <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="ChangeStatus(1)" >Open</a>
        <a class="dropdown-item" (click)="ChangeStatus(2)" >Complete</a>
        <a class="dropdown-item" (click)="ChangeStatus(3)" >Inprogress</a>
    </div>
</div>
