<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="text-navyblue kt-portlet__head-title">
                            {{"Itemized Details" | localize}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="javascript: void(0);" (click)="BackToList()">
                            <i class="la la-arrow-left"></i>
                            {{"Back" | localize}}
                        </a>
                        <div class="btn-group">

                            <a  [ngClass]="{'disabled':!monthStatus}"  class="btn" href="javascript:;"
                                (click)="editItemizedItem()">
                                <img src="../../../../assets/img/edit.svg"></a>
                            <a *ngIf="itemizationDto.isDeleted != true" [ngClass]="{'disabled':!monthStatus}" class="btn" href="javascript:;"
                                (click)="deleteItem()">
                                <img src="../../../../assets/img/del.svg"></a>
                                <a  [ngClass]="{'disabled':!monthStatus}" *ngIf="itemizationDto.isDeleted == true" class="btn" href="javascript:;"
                                (click)="restoreItemizedItem()">
                                <i class="fas fa-trash-restore"></i></a>   

                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="record-card-body p-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item-card-box d-flex flex-wrap">
                                    <div class="item-card rounded mr-3 mb-3">
                                        <img src="../../../../assets/img/calendar-o.svg" alt="bill" class="my-3">
                                        <span class="d-block mb-1 text-navyblue item-card-title">{{"Date" | localize}}</span>
                                        <span class="d-block text-lightgrey">{{itemizationDto.date | date}}</span>
                                    </div>
                                    <div class="item-card rounded mr-3 mb-3">
                                        <img src="../../../../assets/img/money.svg" alt="bill" class="my-3">
                                        <span class="d-block mb-1 text-navyblue item-card-title">{{"Amount" | localize}}</span>
                                        <span class="d-block text-lightgrey">$ {{itemizationDto.amount | formater}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item-card-box d-flex flex-wrap">
                                    <div class="item-card rounded mr-3 mb-3">
                                        <img src="../../../../assets/img/bill.svg" alt="bill" class="my-3">
                                        <span class="d-block mb-1 text-navyblue item-card-title">{{"InvoiceNo" | localize}}.</span>
                                        <span class="d-block text-lightgrey">{{itemizationDto.inoviceNo}}</span>
                                    </div>
                                    <div class="item-card rounded mr-3 mb-3">
                                        <img src="../../../../assets/img/calendar-o.svg" alt="bill" class="my-3">
                                        <span class="d-block mb-1 text-navyblue item-card-title">{{"Journal Entry No" | localize}}.</span>
                                        <span class="d-block text-lightgrey">{{itemizationDto.journalEntryNo}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="attachment-box">
                                    <label>{{"Description" | localize}}</label>
                                    <p>{{itemizationDto.description}}</p>
                                </div>
                                <div class="activity-box">
                                    <h5>Activity</h5>
                                </div>
                                <tabset class="tab-container tabbable-line">
                                    <tab heading="{{'Comment' | localize}}">
                                        <div class="commentmainView show-comments">
                                            <div class="kt-widget3 ">
                                                <div *ngFor="let i of postedCommentList" class="kt-widget3__item ">
                                                    <div class="comments-header kt-widget3__header">
                                                        <div class="kt-widget3__user-img">
                                                            <div class="kt-user-card-v2__pic">
                                                                <div class="kt-badge kt-badge--xl kt-badge--warning">
                                                                    {{i.userName | firstLetterOfWords}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget3__info">
                                                            <a class="kt-widget3__username">
                                                                {{i.userName}}
                                                            </a><br>
                                                        </div>
                                                        <span class="kt-widget3__status kt-font-info">
                                                            {{i.creationDateTime | momentFormat:'DD MMMM YYYY'}}
                                                        </span>
                                                    </div>
                                                    <div class="kt-widget3__body show-comments-inner">
                                                        <p class="kt-widget3__text commentViewBox" innerHTML="{{i.body}}">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="{{'History' | localize}}">
                                        <div  *ngFor="let i of historyOfTask"  class="activity-box">                                                                                   
                                            <div *ngIf="i.propertyName != 'CreationTime'" class="activity-inner d-flex flex-wrap align-items-center mb-4">
                                                <div class="activity-inner-a mb-3">
                                                    <div class="badge2 bg-golden d-inline-flex align-items-center justify-content-center">{{i.result.ChangeOccurUser.name   | firstLetterOfWords}}</div>
                                                </div>
                                                <div class="activity-inner-b mb-3">
                                                    <div class="mb-2 notification-line1">
                                                        <span>{{i.result.ChangeOccurUser.name}}</span> Changed the <span>{{i.propertyName}}</span> {{i.changeTime | momentFormat:'Do MMM YY LTS'}}
                                                    </div>
                                                    <div>
                                                        <span class="text-lightgrey">{{i.result.PreviousValue}}</span>
                                                        <img src="./assets/media/ClosingCheckList/picturemessage_uzg0nq30.png" class="mr-2 ml-2 arrowimage">
                                                        <span>{{i.result.NewValue}}</span>
                                                    </div>
        
                                                </div>
                                            </div>
                                    
                                        </div> 
                                    </tab>
                                </tabset>

                               
                                
                                <div  [ngClass]="{'disabled':!monthStatus}" class="form-group giveCommentView" *ngIf="commantBox">
                                    <label>{{"Comments" | localize}}</label>
                                    <div (click)="commentClick()">
                                        <div class="kt-user-card-v2">
                                            <div class="kt-user-card-v2__pic">
                                                <div class="kt-user-card-v2__pic">
                                                    <div *ngIf="UserProfilePicture" class="kt-badge kt-badge--xl">
                                                        <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                            alt="Pic" [src]="UserProfilePicture">
                                                    </div>

                                                    <div *ngIf="!UserProfilePicture"
                                                        class="kt-badge kt-badge--xl kt-badge--primary">
                                                        {{userSignInName | firstLetterOfWords}}
                                                    </div>
                                                </div>
                                            </div>
                                            <input [(ngModel)]="comment" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group " *ngIf="!commantBox">
                                    <label>{{"Comments" | localize}}</label>
                                    <p-editor [(ngModel)]="comment" name="HtmlEditorInput"
                                        [style]="{'height':'150px'}">
                                    </p-editor>
                                    <button class="btn btn-brand" (click)="onComment()">{{"Comment" | localize}}</button>
                                    <button class="btn btn-brand" (click)="onCancelComment()">{{"Cancel" | localize}}</button>
                                </div>
                            </div>

                            <div  [ngClass]="{'disabled':!monthStatus}" class="col-sm-6">
                                <div class="drag_drop_box form-group">
                                    <label>{{"Attachments" | localize}}</label>
                                    <ng-uppy [config]="settings" (uploadResult)="fileUploadedResponse($event)">
                                    </ng-uppy>
                                    <div *ngFor="let item of attachments" class="attachments_section">
                                        <a href="{{item.attachmentUrl}}" target="_blank" class="attachement_btn"
                                            download="{{item.attachmentUrl}}">
                                            <img src="../../../../assets/media/files/{{item.attachmentExtension}}">
                                            <span>{{item.attachmentName}}</span>
                                        </a>
                                        <button class="cross-btn" (click)="deleteAttachment(item.id)">
                                            <span class="fa fa-window-close"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>