<div class="px-5 py-5">
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                <div class="kt-grid__item py-0" style="padding:0% 10%">
                    <div class="kt-wizard-v1__nav px-5">
                        <div class="kt-wizard-v1__nav-items">
                            <a class="kt-wizard-v1__nav-item location"  href="javascript:;" (click)="tabpClick(0)"  data-ktwizard-type="step" data-ktwizard-state="current">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <img src="./assets/media/ClosingCheckList/Personal_Info.ico" alt="block-btn">
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        1. Profile Information
                                    </div>
                                </div>
                            </a>
                            <a class="kt-wizard-v1__nav-item detail"  href="javascript:;" (click)="tabpClick(1)"  data-ktwizard-type="step" data-ktwizard-state="detail">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <img src="./assets/media/ClosingCheckList/Business_Info.ico" alt="block-btn">
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        2. Business Information
                                    </div>
                                </div>
                            </a>
                            <a class="kt-wizard-v1__nav-item service" href="javascript:;" (click)="tabpClick(2)" data-ktwizard-type="step" data-ktwizard-state="service" >
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <img src="./assets/media/ClosingCheckList/Subscription_plans.ico" alt="block-btn">
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        3. Subscription Plans
                                    </div>
                                </div>
                            </a>
                            <a class="kt-wizard-v1__nav-item review" href="javascript:;" (click)="tabpClick(4)"   data-ktwizard-type="step" data-ktwizard-state="review">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <img src="./assets/media/ClosingCheckList/Summary.ico" alt="block-btn">
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        4. Summary & Submit
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper kt-container">
                    <!--begin: Form Wizard Form-->
                    <form class="kt-form" #userForm="ngForm" novalidate id="kt_form">
                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v1__content locationbody" data-ktwizard-type="step-content" data-ktwizard-state="current" >
                            <div class="kt-heading py-0">Profile Details</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form">
                                    <div class="row my-0 py-0">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input #firstNameOfUser="ngModel" [(ngModel)]="personalInfoDto.firstName" type="text" class="form-control" name="firstNameOfUser" placeholder="Enter Name" value="" autocomplete="off" required maxlength="64">
                                                <validation-messages [formCtrl]="firstNameOfUser"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input #lastNameOfUser="ngModel" [(ngModel)]="personalInfoDto.lastName"type="text" class="form-control" name="lastNameOfUser" placeholder="Enter Name" value="" autocomplete="off" required maxlength="64">
                                                <validation-messages [formCtrl]="lastNameOfUser"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row py-0">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Title (Optional)</label>
                                                <input #titleOfUser="ngModel" [(ngModel)]="personalInfoDto.title"type="text" class="form-control" name="titleOfUser" placeholder="Enter Title" value="" autocomplete="off" required maxlength="64">
                                                <validation-messages [formCtrl]="titleOfUser"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input #emailOfUser="ngModel" [(ngModel)]="personalInfoDto.email" type="email" class="form-control" name="emailOfUser" placeholder="Enter Email" value="" autocomplete="off" required maxlength="256" email>
                                                <validation-messages [formCtrl]="emailOfUser"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row py-0">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input #passwordOfUser="ngModel" [(ngModel)]="personalInfoDto.password" type="password" class="form-control" name="passwordOfUser" placeholder="Enter Password" value="">
                                                <validation-messages [formCtrl]="passwordOfUser"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input #repeatPasswordOfUser="ngModel" [(ngModel)]="personalInfoDto.repeatPassword"type="password" class="form-control" name="passwordOfUser" placeholder="Enter Confirm Password" value="">
                                                <validation-messages [formCtrl]="repeatPasswordOfUser"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->

                        <!--begin: Form Wizard Step 2-->
                        <div class="kt-wizard-v1__content detailbody" data-ktwizard-type="step-content" data-ktwizard-state="">
                            <div class="kt-heading kt-heading--md">Enter Organization Information</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form">
                                    <div class="form-group">
                                        <label>Business Name</label>
                                        <input #businessNameOfUser="ngModel" [(ngModel)]="businessInfoDto.businessName" type="text" class="form-control" autocomplete="off" name="businessNameOfUser" placeholder="Enter Business Name" value="" required maxlength="64">
                                        <validation-messages [formCtrl]="businessNameOfUser"></validation-messages>
                                    </div>
                                    <div class="row pb-4">
                                        <div class="col-xl-6">
                                            <label><span class="text-dark">Website</span> (Optional)</label>
                                            <div class="input-group">
                                                <input type="text" #websiteOfUser="ngModel" [(ngModel)]="businessInfoDto.website" class="form-control"autocomplete="off" name="websiteOfUser" placeholder="Enter Website" value="" required required maxlength="64">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.com</span>
                                                </div>   
                                                <validation-messages [formCtrl]="websiteOfUser"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <label><span class="text-dark">Phone Number</span>(Optional)</label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-phone-volume"></i></span>
                                                  </div>
                                                <input type="text" #phoneNumberOfUser="ngModel" [(ngModel)]="businessInfoDto.phoneNumber" class="form-control" autocomplete="off" placeholder="Enter Phone Number" name="phoneNumberOfUser" required required maxlength="64">
                                                <validation-messages [formCtrl]="phoneNumberOfUser"></validation-messages>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Address Line 1</label>
                                                <input type="text" #addressLineOneOfUser="ngModel" [(ngModel)]="businessInfoDto.addressLineOne"class="form-control" name="addressLineOneOfUser" autocomplete="off" placeholder="Enter Address" value="" required required maxlength="256">
                                                <validation-messages [formCtrl]="addressLineOneOfUser"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Address Line 2</label>
                                                <input type="text" #addressLineTwoOfUser="ngModel" [(ngModel)]="businessInfoDto.addressLineTwo"class="form-control" autocomplete="off" name="addressLineTwoOfUser" placeholder="Enter Address" value="" required required maxlength="256">
                                                <validation-messages [formCtrl]="addressLineTwoOfUser"></validation-messages>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select name="city" [(ngModel)]="businessInfoDto.city" class="form-control bg-white border">
                                                    <option value="NewYark">New Yark</option>
                                                    <option value="Afghanistan">Afghanistan</option>
                                                </select>
                                                    
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select name="state" [(ngModel)]="businessInfoDto.State" class="form-control bg-white border">
                                                    <option value="NewYark">New Yark</option>
                                                    <option value="Afghanistan">Afghanistan</option>
                                                </select>    
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="form-group">
                                                <label>ZipCode</label>
                                                <input type="text" #zipCodeOfUser="ngModel" [(ngModel)]="businessInfoDto.zipCode" class="form-control" autocomplete="off" name="zipCodeOfUser" placeholder="Enter ZipCode" value="" required required maxlength="64">                                                
                                                <validation-messages [formCtrl]="zipCodeOfUser"></validation-messages>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 2-->

                        <!--begin: Form Wizard Step 3-->
                        <div class="kt-wizard-v1__content servicebody" data-ktwizard-type="step-content" data-ktwizard-state="">
                            <div class="kt-pricing-1 kt-pricing-1--fixed">
                                                <div class="kt-pricing-1__items row row-centered">
                                                    <div class="kt-pricing-1__item col-lg-3 col-centered"
                                                        *ngFor="let editionWithFeatures of editionsSelectOutput.editionsWithFeatures;  let i = index">
                        
                                                        <div class="kt-pricing-1__visual">
                                                            <div class="kt-pricing-1__hexagon1"></div>
                                                            <div class="kt-pricing-1__hexagon2"></div>
                                                            <span class="kt-pricing-1__icon kt-font-brand">
                                                                <i class="fa {{editionIcons[i]}}"></i>
                                                            </span>
                                                        </div>
                        
                                                        <span class="kt-pricing-1__price">
                                                            {{editionWithFeatures.edition.displayName}}
                                                        </span>
                        
                                                        <h2 class="kt-pricing-1__subtitle" *ngIf="isFree(editionWithFeatures.edition)">
                                                            {{"Free" | localize}}
                                                        </h2>
                        
                                                        <h2 class="kt-pricing-1__subtitle" *ngIf="!isFree(editionWithFeatures.edition)">
                                                            <span *ngIf="editionWithFeatures.edition.dailyPrice > 0" class="kt-pricing-1__label">{{appSession.application.currencySign}} {{editionWithFeatures.edition.dailyPrice}}
                                                            {{"PerDay" | localize}}<br /></span>
                                                            <span *ngIf="editionWithFeatures.edition.weeklyPrice > 0" class="kt-pricing-1__label">{{appSession.application.currencySign}} {{editionWithFeatures.edition.weeklyPrice}}
                                                            {{"PerWeek" | localize}}<br /></span>
                                                            <span *ngIf="editionWithFeatures.edition.monthlyPrice > 0" class="kt-pricing-1__label">{{appSession.application.currencySign}} {{editionWithFeatures.edition.monthlyPrice}}
                                                            {{"PerMonth" | localize}} <br /></span>
                                                            <span *ngIf="editionWithFeatures.edition.annualPrice > 0" class="kt-pricing-1__label">{{appSession.application.currencySign}} {{editionWithFeatures.edition.annualPrice}}
                                                            {{"PerYear" | localize}}</span>
                                                        </h2>
                        
                                                        <span class="kt-pricing-1__description">
                        
                                                            <ng-container *ngFor="let feature of editionsSelectOutput.allFeatures">
                                                                <!--Checbox Feature-->
                                                                <ng-container *ngIf="isTrueFalseFeature(feature)">
                                                                    <i class="la la-check kt-font-success"
                                                                        *ngIf="featureEnabledForEdition(feature,editionWithFeatures)"></i>
                                                                    <i class="la la-times kt-font-dark"
                                                                        *ngIf="!featureEnabledForEdition(feature,editionWithFeatures)"></i>
                                                                </ng-container>
                                                                <ng-container *ngIf="isTrueFalseFeature(feature)">{{feature.displayName}}
                                                                </ng-container>
                                                                <!--Checbox Feature-->
                                                                <!--Not Checbox Feature-->
                                                                <ng-container *ngIf="!isTrueFalseFeature(feature)">
                                                                    <i class="la la-check kt-font-success"></i>
                                                                </ng-container>
                                                                <ng-container *ngIf="!isTrueFalseFeature(feature)">
                                                                    {{feature.displayName}}:{{getFeatureValueForEdition(feature,editionWithFeatures)}}
                                                                </ng-container>
                                                                <!--Not Checbox Feature-->
                                                                <br />
                                                            </ng-container>
                        
                                                        </span>
                        
                                                        <div class="kt-pricing-1__btn">
                        
                                                            <button
                                                                class="btn btn-warning btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                                                                (click)="upgrade(editionWithFeatures.edition, editionPaymentType.Upgrade)"
                                                                *ngIf="isUserLoggedIn">
                                                                {{"Upgrade" | localize}}
                                                            </button>
                        
                                                            <button
                                                                class="btn btn-success btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                                                                (click)="startSubscription(editionWithFeatures.edition.id,subscriptionStartType.Free,editionPaymentType.Free)"
                                                                href="#" *ngIf="!isUserLoggedIn && isFree(editionWithFeatures.edition)">
                                                                {{"Start" | localize}}
                                                            </button>
                        
                                                            <button
                                                                class="btn btn-warning btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                                                                (click)="trailSubscription(editionWithFeatures.edition.id,subscriptionStartType.Trail,editionPaymentType.Trail)"
                                                                href="#"
                                                                *ngIf="!isUserLoggedIn && !isFree(editionWithFeatures.edition) && editionWithFeatures.edition.trialDayCount">
                                                                {{"FreeTrial" | localize}}
                                                            </button>
                        
                                                            <button
                                                                class="btn btn-primary btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                                                                (click)="buySubscription(editionWithFeatures.edition.id,subscriptionStartType.Paid,editionPaymentType.NewRegistration)"
                                                                href="#" *ngIf="!isUserLoggedIn && !isFree(editionWithFeatures.edition)">
                                                                {{"BuyNow" | localize}}
                                                            </button>
                        
                                                        </div>
                        
                                                    </div>
                        
                                                </div>
                            </div>
                        </div>
                                
                        <!--end: Form Wizard Step 3-->

                        <!--begin: Form Wizard Step 4-->
                        <div class="kt-wizard-v1__content deliverybody" data-ktwizard-type="step-content" data-ktwizard-state="">
                            <div class="kt-heading kt-heading--md">Setup Your Delivery Location</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form">
                                    <div class="form-group">
                                        <label>Address Line 1</label>
                                        <input type="text" class="form-control" name="locaddress1" placeholder="Address Line 1" value="Address Line 1">
                                        <span class="form-text text-muted">Please enter your Address.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 2</label>
                                        <input type="text" class="form-control" name="locaddress2" placeholder="Address Line 2" value="Address Line 2">
                                        <span class="form-text text-muted">Please enter your Address.</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Postcode</label>
                                                <input type="text" class="form-control" name="locpostcode" placeholder="Postcode" value="3072">
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" name="loccity" placeholder="City" value="Preston">
                                                <span class="form-text text-muted">Please enter your City.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" name="locstate" placeholder="State" value="VIC">
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                            <label>Country:</label>
                                            <select name="loccountry" class="form-control">
                                                <option value="">Select</option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AX">Åland Islands</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AS">American Samoa</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                                <option value="AQ">Antarctica</option>
                                                <option value="AG">Antigua and Barbuda</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU" selected>Australia</option>
                                                <option value="AT">Austria</option>
                                                <option value="AZ">Azerbaijan</option>
                                                <option value="BS">Bahamas</option>
                                                <option value="BH">Bahrain</option>
                                                <option value="BD">Bangladesh</option>
                                                <option value="BB">Barbados</option>
                                                <option value="BY">Belarus</option>
                                                <option value="BE">Belgium</option>
                                                <option value="BZ">Belize</option>
                                                <option value="BJ">Benin</option>
                                                <option value="BM">Bermuda</option>
                                                <option value="BT">Bhutan</option>
                                                <option value="BO">Bolivia, Plurinational State of</option>
                                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                <option value="BA">Bosnia and Herzegovina</option>
                                                <option value="BW">Botswana</option>
                                                <option value="BV">Bouvet Island</option>
                                                <option value="BR">Brazil</option>
                                                <option value="IO">British Indian Ocean Territory</option>
                                                <option value="BN">Brunei Darussalam</option>
                                                <option value="BG">Bulgaria</option>
                                                <option value="BF">Burkina Faso</option>
                                                <option value="BI">Burundi</option>
                                                <option value="KH">Cambodia</option>
                                                <option value="CM">Cameroon</option>
                                                <option value="CA">Canada</option>
                                                <option value="CV">Cape Verde</option>
                                                <option value="KY">Cayman Islands</option>
                                                <option value="CF">Central African Republic</option>
                                                <option value="TD">Chad</option>
                                                <option value="CL">Chile</option>
                                                <option value="CN">China</option>
                                                <option value="CX">Christmas Island</option>
                                                <option value="CC">Cocos (Keeling) Islands</option>
                                                <option value="CO">Colombia</option>
                                                <option value="KM">Comoros</option>
                                                <option value="CG">Congo</option>
                                                <option value="CD">Congo, the Democratic Republic of the</option>
                                                <option value="CK">Cook Islands</option>
                                                <option value="CR">Costa Rica</option>
                                                <option value="CI">Côte d'Ivoire</option>
                                                <option value="HR">Croatia</option>
                                                <option value="CU">Cuba</option>
                                                <option value="CW">Curaçao</option>
                                                <option value="CY">Cyprus</option>
                                                <option value="CZ">Czech Republic</option>
                                                <option value="DK">Denmark</option>
                                                <option value="DJ">Djibouti</option>
                                                <option value="DM">Dominica</option>
                                                <option value="DO">Dominican Republic</option>
                                                <option value="EC">Ecuador</option>
                                                <option value="EG">Egypt</option>
                                                <option value="SV">El Salvador</option>
                                                <option value="GQ">Equatorial Guinea</option>
                                                <option value="ER">Eritrea</option>
                                                <option value="EE">Estonia</option>
                                                <option value="ET">Ethiopia</option>
                                                <option value="FK">Falkland Islands (Malvinas)</option>
                                                <option value="FO">Faroe Islands</option>
                                                <option value="FJ">Fiji</option>
                                                <option value="FI">Finland</option>
                                                <option value="FR">France</option>
                                                <option value="GF">French Guiana</option>
                                                <option value="PF">French Polynesia</option>
                                                <option value="TF">French Southern Territories</option>
                                                <option value="GA">Gabon</option>
                                                <option value="GM">Gambia</option>
                                                <option value="GE">Georgia</option>
                                                <option value="DE">Germany</option>
                                                <option value="GH">Ghana</option>
                                                <option value="GI">Gibraltar</option>
                                                <option value="GR">Greece</option>
                                                <option value="GL">Greenland</option>
                                                <option value="GD">Grenada</option>
                                                <option value="GP">Guadeloupe</option>
                                                <option value="GU">Guam</option>
                                                <option value="GT">Guatemala</option>
                                                <option value="GG">Guernsey</option>
                                                <option value="GN">Guinea</option>
                                                <option value="GW">Guinea-Bissau</option>
                                                <option value="GY">Guyana</option>
                                                <option value="HT">Haiti</option>
                                                <option value="HM">Heard Island and McDonald Islands</option>
                                                <option value="VA">Holy See (Vatican City State)</option>
                                                <option value="HN">Honduras</option>
                                                <option value="HK">Hong Kong</option>
                                                <option value="HU">Hungary</option>
                                                <option value="IS">Iceland</option>
                                                <option value="IN">India</option>
                                                <option value="ID">Indonesia</option>
                                                <option value="IR">Iran, Islamic Republic of</option>
                                                <option value="IQ">Iraq</option>
                                                <option value="IE">Ireland</option>
                                                <option value="IM">Isle of Man</option>
                                                <option value="IL">Israel</option>
                                                <option value="IT">Italy</option>
                                                <option value="JM">Jamaica</option>
                                                <option value="JP">Japan</option>
                                                <option value="JE">Jersey</option>
                                                <option value="JO">Jordan</option>
                                                <option value="KZ">Kazakhstan</option>
                                                <option value="KE">Kenya</option>
                                                <option value="KI">Kiribati</option>
                                                <option value="KP">Korea, Democratic People's Republic of</option>
                                                <option value="KR">Korea, Republic of</option>
                                                <option value="KW">Kuwait</option>
                                                <option value="KG">Kyrgyzstan</option>
                                                <option value="LA">Lao People's Democratic Republic</option>
                                                <option value="LV">Latvia</option>
                                                <option value="LB">Lebanon</option>
                                                <option value="LS">Lesotho</option>
                                                <option value="LR">Liberia</option>
                                                <option value="LY">Libya</option>
                                                <option value="LI">Liechtenstein</option>
                                                <option value="LT">Lithuania</option>
                                                <option value="LU">Luxembourg</option>
                                                <option value="MO">Macao</option>
                                                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                <option value="MG">Madagascar</option>
                                                <option value="MW">Malawi</option>
                                                <option value="MY">Malaysia</option>
                                                <option value="MV">Maldives</option>
                                                <option value="ML">Mali</option>
                                                <option value="MT">Malta</option>
                                                <option value="MH">Marshall Islands</option>
                                                <option value="MQ">Martinique</option>
                                                <option value="MR">Mauritania</option>
                                                <option value="MU">Mauritius</option>
                                                <option value="YT">Mayotte</option>
                                                <option value="MX">Mexico</option>
                                                <option value="FM">Micronesia, Federated States of</option>
                                                <option value="MD">Moldova, Republic of</option>
                                                <option value="MC">Monaco</option>
                                                <option value="MN">Mongolia</option>
                                                <option value="ME">Montenegro</option>
                                                <option value="MS">Montserrat</option>
                                                <option value="MA">Morocco</option>
                                                <option value="MZ">Mozambique</option>
                                                <option value="MM">Myanmar</option>
                                                <option value="NA">Namibia</option>
                                                <option value="NR">Nauru</option>
                                                <option value="NP">Nepal</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="NC">New Caledonia</option>
                                                <option value="NZ">New Zealand</option>
                                                <option value="NI">Nicaragua</option>
                                                <option value="NE">Niger</option>
                                                <option value="NG">Nigeria</option>
                                                <option value="NU">Niue</option>
                                                <option value="NF">Norfolk Island</option>
                                                <option value="MP">Northern Mariana Islands</option>
                                                <option value="NO">Norway</option>
                                                <option value="OM">Oman</option>
                                                <option value="PK">Pakistan</option>
                                                <option value="PW">Palau</option>
                                                <option value="PS">Palestinian Territory, Occupied</option>
                                                <option value="PA">Panama</option>
                                                <option value="PG">Papua New Guinea</option>
                                                <option value="PY">Paraguay</option>
                                                <option value="PE">Peru</option>
                                                <option value="PH">Philippines</option>
                                                <option value="PN">Pitcairn</option>
                                                <option value="PL">Poland</option>
                                                <option value="PT">Portugal</option>
                                                <option value="PR">Puerto Rico</option>
                                                <option value="QA">Qatar</option>
                                                <option value="RE">Réunion</option>
                                                <option value="RO">Romania</option>
                                                <option value="RU">Russian Federation</option>
                                                <option value="RW">Rwanda</option>
                                                <option value="BL">Saint Barthélemy</option>
                                                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                <option value="KN">Saint Kitts and Nevis</option>
                                                <option value="LC">Saint Lucia</option>
                                                <option value="MF">Saint Martin (French part)</option>
                                                <option value="PM">Saint Pierre and Miquelon</option>
                                                <option value="VC">Saint Vincent and the Grenadines</option>
                                                <option value="WS">Samoa</option>
                                                <option value="SM">San Marino</option>
                                                <option value="ST">Sao Tome and Principe</option>
                                                <option value="SA">Saudi Arabia</option>
                                                <option value="SN">Senegal</option>
                                                <option value="RS">Serbia</option>
                                                <option value="SC">Seychelles</option>
                                                <option value="SL">Sierra Leone</option>
                                                <option value="SG">Singapore</option>
                                                <option value="SX">Sint Maarten (Dutch part)</option>
                                                <option value="SK">Slovakia</option>
                                                <option value="SI">Slovenia</option>
                                                <option value="SB">Solomon Islands</option>
                                                <option value="SO">Somalia</option>
                                                <option value="ZA">South Africa</option>
                                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                <option value="SS">South Sudan</option>
                                                <option value="ES">Spain</option>
                                                <option value="LK">Sri Lanka</option>
                                                <option value="SD">Sudan</option>
                                                <option value="SR">Suriname</option>
                                                <option value="SJ">Svalbard and Jan Mayen</option>
                                                <option value="SZ">Swaziland</option>
                                                <option value="SE">Sweden</option>
                                                <option value="CH">Switzerland</option>
                                                <option value="SY">Syrian Arab Republic</option>
                                                <option value="TW">Taiwan, Province of China</option>
                                                <option value="TJ">Tajikistan</option>
                                                <option value="TZ">Tanzania, United Republic of</option>
                                                <option value="TH">Thailand</option>
                                                <option value="TL">Timor-Leste</option>
                                                <option value="TG">Togo</option>
                                                <option value="TK">Tokelau</option>
                                                <option value="TO">Tonga</option>
                                                <option value="TT">Trinidad and Tobago</option>
                                                <option value="TN">Tunisia</option>
                                                <option value="TR">Turkey</option>
                                                <option value="TM">Turkmenistan</option>
                                                <option value="TC">Turks and Caicos Islands</option>
                                                <option value="TV">Tuvalu</option>
                                                <option value="UG">Uganda</option>
                                                <option value="UA">Ukraine</option>
                                                <option value="AE">United Arab Emirates</option>
                                                <option value="GB">United Kingdom</option>
                                                <option value="US">United States</option>
                                                <option value="UM">United States Minor Outlying Islands</option>
                                                <option value="UY">Uruguay</option>
                                                <option value="UZ">Uzbekistan</option>
                                                <option value="VU">Vanuatu</option>
                                                <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                <option value="VN">Viet Nam</option>
                                                <option value="VG">Virgin Islands, British</option>
                                                <option value="VI">Virgin Islands, U.S.</option>
                                                <option value="WF">Wallis and Futuna</option>
                                                <option value="EH">Western Sahara</option>
                                                <option value="YE">Yemen</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="ZW">Zimbabwe</option>
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 4-->

                        <!--begin: Form Wizard Step 5-->
                        <div class="kt-wizard-v1__content reviewbody" data-ktwizard-type="step-content" data-ktwizard-state="">
                            <div class="row kt-form__section kt-form__section--first">
                                <div class="col-xl-6 kt-wizard-v1__review">
                                    <div class="kt-wizard-v1__review-item">
                                        <div class="kt-heading kt-wizard-v1__review-title">
                                            Personal Information
                                        </div>
                                        <div class="kt-wizard-v1__review-content">
                                            {{personalInfoDto.firstName}} {{personalInfoDto.larstName}}<br/>
                                            Title: {{personalInfoDto.title}}<br/>
                                            Email: {{personalInfoDto.email}}
                                        </div>
                                        <div class="kt-heading kt-wizard-v1__review-title">
                                            Business Information
                                        </div>
                                        <div class="kt-wizard-v1__review-content">
                                            {{businessInfoDto.businessName}}<br/>
                                            Address: {{businessInfoDto.addressLineOne}} {{businessInfoDto.addressLineOne}}<br/>
                                            Phone: {{businessInfoDto.phoneNumber}}<br/>
                                            Website: {{businessInfoDto.website}}
                                        </div>
                                        <div class="kt-heading kt-wizard-v1__review-title">
                                            Subscription Plans
                                        </div>
                                        <div class="kt-wizard-v1__review-content">
                                            {{businessInfoDto.businessName}}<br/>
                                            Address: {{businessInfoDto.addressLineOne}} {{businessInfoDto.addressLineOne}}<br/>
                                            Phone: {{businessInfoDto.phoneNumber}}
                                            Website: {{businessInfoDto.website}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 kt-wizard-v1__review">
                                    <div class="kt-wizard-v1__review-item">
                                        <div class="kt-heading kt-wizard-v1__review-title">
                                            Payment Details:
                                        </div>
                                        <div class="form-group">
                                            <label>Card Number</label>
                                            <input type="text" #cardNumberOfUser="ngModel" [(ngModel)]="paymentDetailsDto.cardNumber" class="form-control" name="cardNumberOfUser" placeholder="xxxx-xxxx-xxxxxx" value="" autocomplete="off" required required maxlength="64">
                                            <validation-messages [formCtrl]="cardNumberOfUser"></validation-messages>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>CVV Code</label>
                                                    <input type="text" #CVVCodeOfUser="ngModel" [(ngModel)]="paymentDetailsDto.CVVCode"  class="form-control" name="CVVCodeOfUser" placeholder="Enter CVV Code" value="" autocomplete="off" required required maxlength="64">
                                                    <validation-messages [formCtrl]="CVVCodeOfUser"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Expiry Date</label>
                                                    <input type="text" #expiryDateOfUser="ngModel" [(ngModel)]="paymentDetailsDto.expiryDate" class="form-control" name="expiryDateOfUser" placeholder="Enter Date" value="" autocomplete="off" required required maxlength="64">
                                                    <validation-messages [formCtrl]="expiryDateOfUser"></validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" #emailOfUser="ngModel" [(ngModel)]="paymentDetailsDto.email" class="form-control" name="emailOfUser" placeholder="Enter Email" value="" autocomplete="off" required required maxlength="64">
                                                    <validation-messages [formCtrl]="emailOfUser"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Commitment</label>
                                                    <select name="Commitment" #commitmentOfUser="ngModel" [(ngModel)]="paymentDetailsDto.commitment"class="form-control bg-white border">
                                                        <option value="">Monthly Plan</option>
                                                        <option value="AF">Afghanistan</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                             
                            </div>
                        </div>
                        <!--end: Form Wizard Step 5-->

                        <!--begin: Form Actions -->
                        <div class="kt-form__actions">
                            <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u previebtn" (click)="movetab(-1)" data-ktwizard-type="action-prev">
                                Previous
                            </button>
                            <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                Submit
                            </button>
                            <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u nxtbtn" (click)="movetab(1)" data-ktwizard-type="action-next">
                                Next Step
                            </button>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                    <!--end: Form Wizard Form-->
                </div>
            </div>
        </div>
    </div>
    </div>
</div>