<div class="kt-subheader kt-grid__item">
    <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <img src="./assets/media/ClosingCheckList/clipboard.svg" alt="clipboard">
                <span> Charts of Account</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">

            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="RedirectToCreateAccount()" class="btn btn-primary"><i class="fa fa-plus"></i>
                    {{"AddNew" | localize}}</button>
            </div>
        </div>
    </div>
</div>

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">

        <section class="zinlo-records">
            <div class="custom-container">
                <div class="card">
                    <div class="record-card-header">
                        <div class="record-card-header-bottom">
                            <div class="record-card-header-bottom-inner1">
                                <button class="btn btn-images" data-toggle="modal" data-target="#kt_modal_1">
                                    <img src="../../../../assets/img/download.png">
                                    Download
                                </button>
                                <button class="btn btn-images" data-toggle="modal" data-target="#kt_modal_2">
                                    <img src="../../../../assets/img/upload.png">
                                 Upload
                                </button>
                                <h5>{{currentMonth}} {{currentYear}}</h5>

                            </div>
                            <!-- Modal For Download -->
                            <div class="modal fade  download-modal" id="kt_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="download-modal-row row">
                                                <div class="col-md-6 text-center">
                                                    <img src="../../../../assets/img/download.png">
                                                    <p>Download Trial Balance</p>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <img src="../../../../assets/img/download.png">
                                                    <p>Download Chart of Accounts</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal For Upload -->
                            <div class="modal fade uppy-modal" id="kt_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="drag_drop_box uppy-modal-box1">
                                                <p>Upload Chart of Accounts</p>
                                                <p>Upload Trial Balance</p> 
                                                <ng-uppy [config]="settings"></ng-uppy>
                                            </div>
                                            <div class="drag_drop_box uppy-modal-box2">
                                                <ng-uppy [config]="settingsUppy"></ng-uppy>
                                            </div>
                                            
                                            <div class="row modal-bottom-record">
                                                <div class="col-md-6">
                                                    <p>This is the demo </p>
                                                    <div class="inner-col-record border border-default">
                                                        
                                                        <div class="row">
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Code</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Name</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Balance</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>This is the demo </p>
                                                    <div class="inner-col-record border border-default">
                                                        
                                                        <div class="row">
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Code</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Name</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Balance</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Name</p>
                                                            </div>
                                                            <div class="modal-bottom-row-col">
                                                                <p>Account Balance</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="record-card-header-bottom-inner2">
                              
                                <div class="upper-content">
                                    <form class="search-form">
                                        <div class="form-group">
                                            <input type="text" autoFocus (input)="getAllAccounts()"
                                                [(ngModel)]="filterText" name="filterText"
                                                [placeholder]="l('SearchWithThreeDot')" class="border-grey">
                                        </div>
                                    </form>
                                    <div class="form-group category-selector">
                                        <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{accountType}}</button>
                                        <div class="dropdown-menu" >
                                            <a class="dropdown-item" *ngFor="let item of accountTypeList"
                                                (click)="accountTypeClick(item.id,item.name)">
                                                {{item.name}}</a>
                                        </div>
                                    </div>
                                    <div class="users-box-parent">
                                        <div class="users-box">
                                            <div *ngIf="plusUserBadgeForHeader"
                                                class="member-count bg-lightgrey text-blue">
                                                <span>+{{remainingUserForHeader.length}}</span>
                                                <div class="member-dropdown">
                                                    <ul>
                                                        <li *ngFor="let item of remainingUserForHeader">
                                                            <div class="kt-user-card-v2__pic">
                                                                <div *ngIf="item.profilePicture"
                                                                    class="kt-badge kt-badge--xl mem-img">
                                                                    <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                                        alt="Pic" [src]="item.profilePicture">
                                                                </div>
                                                                <div *ngIf="!item.profilePicture"
                                                                    class="kt-badge kt-badge--xl kt-badge--primary mem-img">
                                                                    {{item.assigniName | firstLetterOfWords}}</div>
                                                            </div>
                                                            <div class="kt-user-card-v2__details">
                                                                <span class="kt-user-card-v2__name">
                                                                    {{item.assigniName}}
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div *ngFor="let item of assigniNameForHeader "
                                                (click)="GetAssigniSpecficAccounts(i.assigneeId)" class="kt-user-card-v2">
                                                <div class="kt-user-card-v2__pic user-image-box">
                                                    <div *ngIf="item.profilePicture" class="kt-badge kt-badge--xl">
                                                        <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                            alt="Pic" [src]="item.profilePicture">
                                                    </div>
                                                    <div *ngIf="!item.profilePicture"
                                                        class="kt-badge kt-badge--xl kt-badge--primary">
                                                        {{item.assigniName | firstLetterOfWords}}</div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="primeng-paging-container">
                        <div class="table-box">

                            <!--<Primeng-TurboTable-Start>-->
                            <div class="task-table" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable class=" record-table"
                                    (onLazyLoad)="getAllAccounts($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr class="task-table-inner">
                                            <th class="accountNo-cell" scope="col" pSortableColumn="accountNo">
                                                Account No
                                                <p-sortIcon field="accountNo"></p-sortIcon>
                                            </th>
                                            <th class="accountName-cell" scope="col" pSortableColumn="accountName">
                                                Account Name
                                                <p-sortIcon field="accountName"></p-sortIcon>
                                            </th>
                                            <th class="accountType-cell" scope="col" pSortableColumn="accountType">
                                                Account Type
                                                <p-sortIcon field="accountType"></p-sortIcon>
                                            </th>
                                            <th class="accountSubtype-cell" scope="col"
                                                pSortableColumn="accountSubtype">
                                                Account Sub type
                                                <p-sortIcon field="accountSubtype"></p-sortIcon>
                                            </th>
                                            <th class="reconciliation-cell" scope="col"
                                                pSortableColumn="reconciliation">
                                                Reconciliation Type
                                                <p-sortIcon field="reconciliation"></p-sortIcon>
                                            </th>
                                            <th class="assignee-cell" scope="col" pSortableColumn="AssigneeId">
                                                Assignee
                                                <p-sortIcon field="AssigneeId"></p-sortIcon>
                                            </th>
                                            <th class="action-cell" scope="col" pSortableColumn="action">
                                                Action
                                                <p-sortIcon field="action"></p-sortIcon>
                                            </th>

                                            <th class="cell-none">
                                                <!-- <div (click)="collapsibleRowClick(j.id)" class="taggle-btn"></div> -->
                                            </th>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                            <!--<Primeng-TurboTable-End> {{i.creationTime | date:'d MMM EEE'}} -->
                            <table class="table record-table">
                                <tbody *ngFor="let item of chartsOfAccountList">
                                    <tr  class="task-table-inner table-repeater">

                                        <td class="accountNo-cell">
                                            <span class="">{{item.accountNumber}}</span>
                                            
                                        </td>
                                        <td class="accountName-cell">
                                            <span class="task-box">{{item.accountName}}</span>
                                        </td>
                                        <td class="accountType-cell">
                                            <span class="category-name bg-lightgrey">{{item.accountType}}</span>
                                        </td>
                                        <td class="accountSubtype-cell">
                                            <span class="">{{item.accountSubType}}</span>
                                        </td>
                                        <td class="reconciliation-cell">
                                            <span class="">{{item.reconciliationType}}</span>
                                        </td>

                                        <td class="assignee-cell">
                                            <div *ngIf="item.id != rowid" class="kt-user-card-v2"
                                                (click)="openFieldUpdateAssignee(item.id)">
                                                <div class="kt-user-card-v2__pic">
                                                    <div *ngIf="item.profilePicture" class="kt-badge kt-badge--xl">
                                                        <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                            alt="Pic" [src]="item.profilePicture">
                                                    </div>

                                                    <div *ngIf="!item.profilePicture"
                                                        class="kt-badge kt-badge--xl kt-badge--primary">
                                                        {{item.assigneeName | firstLetterOfWords}}
                                                    </div>
                                                </div>
                                                <div class="kt-user-card-v2__details"> <span
                                                        class="kt-user-card-v2__name">
                                                        {{item.assigneeName}}</span> 
                                                </div>
                                            </div>
                                            <div *ngIf="item.id == rowid">
                                                <app-user-list-component  (callBack)="refreshGrid()"  taskId = {{item.id}} comingChangeReguest="accounts" userId = {{item.assigneeId}} ></app-user-list-component>
                                            </div>
                                        </td>
                                        <td class="action-cell">
                                            <div class="btn-group">
                                                <a *ngIf="'Pages.Categories.Edit' | permission" class="btn"
                                                    href="javascript:;" (click)="editAccount(item.id)">
                                                    <img src="../../../../assets/img/edit.svg"></a>
                                                <a *ngIf="'Pages.Categories.Delete' | permission" class="btn"
                                                    href="javascript:;" (click)="deleteAccount(item.id)">
                                                    <img src="../../../../assets/img/del.svg"></a>
                                            </div>
                                        </td>
                                        <td class="toggle-btn-cell">
                                            <div (click)="collapsibleRowClick(item.id)" class="taggle-btn"></div>
                                        </td>
                                    </tr>
                                        <!-- show-collapsible-row -->
                                    <tr *ngIf="collapsibleRow == true && item.id == collapsibleRowId" class="table-row-collapsible "> 
                                        <td>
                                            <ul>
                                                <li class="accountSubtype-cell collapsable-cell">

                                                    <div class="thead-box"><b>Account Sub Type : </b></div>
                                                    <div class="tdata-box">
                                                        <span class="">{{item.accountSubType}}</span>
                                                    </div>
                                                </li>
                                                <li class="reconciliation-cell collapsable-cell">
                                                    <div class="thead-box"><b>Reconciliation : </b></div>
                                                    <div class="tdata-box">
                                                        <span class="">{{item.reconciliationType}}</span>
                                                    </div>
                                                </li>
                                                <li  class="assignee-cell collapsable-cell kt-user-card-v2">
                                                    <div class="thead-box"><b>Assignee : </b></div>
                                                    <div  *ngIf="item.id != rowid" (click)="openFieldUpdateAssignee(item.id)" class="tdata-box">
                                                        <div class="kt-user-card-v2__pic">
                                                            <div *ngIf="item.profilePicture"
                                                                class="kt-badge kt-badge--xl">
                                                                <img class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                                                                    alt="Pic" [src]="item.profilePicture">
                                                            </div>
                                                            <div *ngIf="!item.profilePicture"
                                                                class="kt-badge kt-badge--xl kt-badge--primary">
                                                                {{item.assigneeName | firstLetterOfWords}}</div>
                                                            <span class="kt-user-card-v2__name">
                                                                {{item.assigneeName}}</span>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="item.id == rowid">
                                                        <app-user-list-component  (callBack)="refreshGrid()"  taskId = {{item.id}} comingChangeReguest="accounts" userId = {{item.assigneeId}} ></app-user-list-component>
                                                    </div>
                                                </li>
                                                <li class="action-cell-item collapsable-cell">
                                                    <div class="thead-box"><b>Action : </b></div>
                                                    <div class="tdata-box">
                                                        <div class="btn-group">
                                                            <a class="btn"
                                                                href="javascript:;" (click)="editAccount(item.id)">
                                                                <img src="../../../../assets/img/edit.svg"></a>
                                                            <a  class="btn"
                                                                href="javascript:;" (click)="deleteAccount(item.id)">
                                                                <img src="../../../../assets/img/del.svg"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                             </tbody>
                            </table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                        </div>
                        <div class="pagination-block">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAllAccounts($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                class="paginator-counter">
                            </p-paginator>
                            <span class="total-records-count">
                                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>