<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span *ngIf="categoryId">{{"EditCategory" | localize}}</span>
                            <span *ngIf="!categoryId">{{"CreateCategory" | localize}}</span>
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="javascript: void(0);" (click)="BackToCategoriesList()">
                            <i class="la la-arrow-left"></i>
                            {{"Back" | localize}}
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <form  #categoryFormRef="ngForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input autofocus type="text" class="form-control" id="title"  required (focusout)="CheckCategory()" name="title"
                                        [(ngModel)]="categoryobj.title">
                                        <span style="color:red" *ngIf="isCategoryExist">Category with same Name already exist.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" [(ngModel)]="categoryobj.description"
                                        id="description" name="description" (keydown.enter)="save($event)"
                                         ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__head">
                        </div>
                        <div class="form-group margin-top-5">
                            <button class="btn btn-brand" type="submit" [disabled]="categoryFormRef.form.invalid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{"Save" | localize}}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>