   <div class="form-group category-selector">
        <label>{{"Category" | localize}}</label>
        <button type="button"  data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"
            aria-expanded="false">{{categoryName}}</button>
        <div class="dropdown-menu" name="categoryName" [(ngModel)]="categoryName" ngDefaultControl>
            <a class="dropdown-item" *ngFor="let item of categoriesList"
                (click)="categoryClick(item.value,item.name)">
                {{item.name}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="routeToAddNewCategory()"><i class="fa fa-plus"></i>
                {{"AddNew" | localize}}</a>
        </div>
    </div>
  
