   <div class="form-group category-selector">
        <label>Category</label>
        <button type="button"  data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"
            aria-expanded="false">{{categoryName}}</button>
        <div class="dropdown-menu" [(ngModel)]="categoryName" ngDefaultControl>
            <a class="dropdown-item" *ngFor="let item of categoriesList"
                (click)="categoryClick(item.value,item.name)">
                {{item.name}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="routeToAddNewCategory()">+AddNew</a>
        </div>
    </div>
  
