

<div class="">
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span>Customized Plan Request</span>
                    </h3>
                </div>
            </div>
            <div class="row px-4 py-4">
                <div class="col-lg-6 px-5">
                    <div class="row py-4">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input [(ngModel)]="contactus.fullName"  type="text" class="form-control" name="firstName" placeholder="Enter Name" value="" autocomplete="off" required maxlength="64">
                        
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input [(ngModel)]="contactus.email"  type="text" class="form-control" name="emailAddress" placeholder="Enter Email" value="" autocomplete="off" required maxlength="64">
                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input [(ngModel)]="contactus.companyName"  type="text" class="form-control" name="companyName" placeholder="Enter Company Name" value="" autocomplete="off" required maxlength="64">
                        
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>No. of Users</label>
                                <input [(ngModel)]="contactus.numberOfUsers" type="text" class="form-control" name="noOfUsers" placeholder="Enter No Of Users" value="" autocomplete="off" required maxlength="64">
                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Commitment</label>
                                <select name="Commitment" [(ngModel)]="commitment" class="form-control bg-white border">
                                    <option value="0">Monthly Plan</option>
                                    <option value="1">Annullly Plan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input [(ngModel)]="contactus.pricing"  type="text" class="form-control" name="price" placeholder="Enter Price" value="" autocomplete="off" required maxlength="64">
                        
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">{{"Description" | localize}}</label>
                            <textarea [(ngModel)]="contactus.description" class="form-control"   id="description" name="description" placeholder="Enter Description" style="height: 100px;"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 pt-4">
                    <div class="row py-3 px-4">
                        <div class="col-md-4">
                            <div class="item-card-box shadow ">
                                <div class="item-card rounded ">
                                    <img src="../../../../assets/img/money.svg" class="pt-3 pl-3" alt="bill">
                                    <p class="pt-2 pl-3"><span class="py-5 pt-3"><b>Monthly Plan:</b> </span><br/>
                                    <span>${{contactus.pricing}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <hr>
                <div class="form-group margin-top-5 px-5">
                    <button class="btn btn-brand" type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <span>Send Email</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>