.eom-radio {
    margin-top: 60px;
}
.form-group{
    position: relative;
}
.igx-calender{
    position: absolute;
    z-index: 1;
    top: 80px;
    box-shadow: 0 0 20px #ccc;
    width: 180px;
    height: 170px;
    overflow: auto;
}
.drag_drop_box {
    margin-top: -50px;
}
.input-arrow{
    position: relative;
}
.input-arrow::after{
    content: "▼"  !important ;
    position: absolute  !important;
    top: 50%  !important;
    right: 5px  !important;
    transform: translateY(-50%)  !important;
    font-size: 11px  !important;
    color: #606060  !important;
}  

::ng-deep .uppy-Dashboard-inner {
    min-height:220px !important;
    height: 220px !important;
}
.category-selector button {
    width: 100%;
    text-align: left;
    padding: 9px 15px 8px 15px;
    height: calc(1.5em + 1.3rem + 2px);

}
.category-selector button::after {
    content: "▼";
    position: absolute;
    font-size: 11px;
    color: #313030;
    right: 4px;
    top: 50%;
    transform: translateY(65%) !important;
}
label{
    color: #606060;
}
.duplicate{
  padding: 25px;
}
.headSpace{
    margin-left: 5px;
}